In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"Date": ["2023/12/10", "2023/12/11", "2023/12/12"]})
df

         Date
0  2023/12/10
1  2023/12/11
2  2023/12/12

In [3]:
df["Date"] = pd.to_datetime(df["Date"])
df

        Date
0 2023-12-10
1 2023-12-11
2 2023-12-12

In [4]:
df_1 = pd.DataFrame({"date": ["10122023", "11122023", "12122023"]})
df_1

       date
0  10122023
1  11122023
2  12122023

In [5]:
df_1["date"] = pd.to_datetime(df_1["date"], format= "%d%m%Y")
df_1

        date
0 2023-12-10
1 2023-12-11
2 2023-12-12

In [6]:
df_2 = pd.DataFrame({"date": ["2023-07-05", "2023-07-06", None, "2023-07-08"]})
df_2

         date
0  2023-07-05
1  2023-07-06
2        None
3  2023-07-08

In [7]:
df_2["date"] = pd.to_datetime(df_2["date"], errors= "coerce")
df_2

        date
0 2023-07-05
1 2023-07-06
2        NaT
3 2023-07-08

In [8]:
df_2["date"] = df_2["date"].fillna(pd.to_datetime("2023-01-01"))
df_2

        date
0 2023-07-05
1 2023-07-06
2 2023-01-01
3 2023-07-08