In [1]:
import numpy as np
import pandas as pd
import polars as pl
from datetime import date, datetime

**Series**

In [2]:
s = pl.Series("a", [1, 2, 3, 4, 5])
s

shape: (5,)
Series: 'a' [i64]
[
	1
	2
	3
	4
	5
]

In [3]:
print(s)

shape: (5,)
Series: 'a' [i64]
[
	1
	2
	3
	4
	5
]

**DataFrame**

In [4]:
df = pl.DataFrame(
                  {"integer": [1, 2, 3, 4, 5],
                   "date": [datetime(2024, 1, 1),
                            datetime(2024, 1, 2),
                            datetime(2024, 1, 3),
                            datetime(2024, 1, 4),
                            datetime(2024, 1, 5)],
                   "float": [4.0, 5.0, 6.0, 7.0, 8.0]}
                 )

df

shape: (5, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2024-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2024-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2024-01-03 00:00:00 ┆ 6.0   │
│ 4       ┆ 2024-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2024-01-05 00:00:00 ┆ 8.0   │
└─────────┴─────────────────────┴───────┘

In [5]:
print(df)

shape: (5, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2024-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2024-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2024-01-03 00:00:00 ┆ 6.0   │
│ 4       ┆ 2024-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2024-01-05 00:00:00 ┆ 8.0   │
└─────────┴─────────────────────┴───────┘

In [6]:
print(df.head(3))

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2024-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2024-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2024-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [7]:
print(df.tail(2))

shape: (2, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 4       ┆ 2024-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2024-01-05 00:00:00 ┆ 8.0   │
└─────────┴─────────────────────┴───────┘

In [8]:
print(df.sample(2))

shape: (2, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 5       ┆ 2024-01-05 00:00:00 ┆ 8.0   │
│ 2       ┆ 2024-01-02 00:00:00 ┆ 5.0   │
└─────────┴─────────────────────┴───────┘

In [9]:
df.schema

OrderedDict([('integer', Int64),
             ('date', Datetime(time_unit='us', time_zone=None)),
             ('float', Float64)])

In [10]:
df.describe()

shape: (9, 4)
┌────────────┬──────────┬─────────────────────┬──────────┐
│ statistic  ┆ integer  ┆ date                ┆ float    │
│ ---        ┆ ---      ┆ ---                 ┆ ---      │
│ str        ┆ f64      ┆ str                 ┆ f64      │
╞════════════╪══════════╪═════════════════════╪══════════╡
│ count      ┆ 5.0      ┆ 5                   ┆ 5.0      │
│ null_count ┆ 0.0      ┆ 0                   ┆ 0.0      │
│ mean       ┆ 3.0      ┆ 2024-01-03 00:00:00 ┆ 6.0      │
│ std        ┆ 1.581139 ┆ null                ┆ 1.581139 │
│ min        ┆ 1.0      ┆ 2024-01-01 00:00:00 ┆ 4.0      │
│ 25%        ┆ 2.0      ┆ 2024-01-02 00:00:00 ┆ 5.0      │
│ 50%        ┆ 3.0      ┆ 2024-01-03 00:00:00 ┆ 6.0      │
│ 75%        ┆ 4.0      ┆ 2024-01-04 00:00:00 ┆ 7.0      │
│ max        ┆ 5.0      ┆ 2024-01-05 00:00:00 ┆ 8.0      │
└────────────┴──────────┴─────────────────────┴──────────┘

In [11]:
print(df.describe())

shape: (9, 4)
┌────────────┬──────────┬─────────────────────┬──────────┐
│ statistic  ┆ integer  ┆ date                ┆ float    │
│ ---        ┆ ---      ┆ ---                 ┆ ---      │
│ str        ┆ f64      ┆ str                 ┆ f64      │
╞════════════╪══════════╪═════════════════════╪══════════╡
│ count      ┆ 5.0      ┆ 5                   ┆ 5.0      │
│ null_count ┆ 0.0      ┆ 0                   ┆ 0.0      │
│ mean       ┆ 3.0      ┆ 2024-01-03 00:00:00 ┆ 6.0      │
│ std        ┆ 1.581139 ┆ null                ┆ 1.581139 │
│ min        ┆ 1.0      ┆ 2024-01-01 00:00:00 ┆ 4.0      │
│ 25%        ┆ 2.0      ┆ 2024-01-02 00:00:00 ┆ 5.0      │
│ 50%        ┆ 3.0      ┆ 2024-01-03 00:00:00 ┆ 6.0      │
│ 75%        ┆ 4.0      ┆ 2024-01-04 00:00:00 ┆ 7.0      │
│ max        ┆ 5.0      ┆ 2024-01-05 00:00:00 ┆ 8.0      │
└────────────┴──────────┴─────────────────────┴──────────┘

## Basic operators

In [12]:
df = pl.DataFrame(
                  {"value": [1, 2, 3, None, 5],
                   "names": ["Acacia", "Iris", "Orchid", "Azalea", None],
                   "random": np.random.rand(5),
                   "groups": ["A", "A", "B", "C", "B"]}
                 )

print(df)

shape: (5, 4)
┌───────┬────────┬──────────┬────────┐
│ value ┆ names  ┆ random   ┆ groups │
│ ---   ┆ ---    ┆ ---      ┆ ---    │
│ i64   ┆ str    ┆ f64      ┆ str    │
╞═══════╪════════╪══════════╪════════╡
│ 1     ┆ Acacia ┆ 0.998341 ┆ A      │
│ 2     ┆ Iris   ┆ 0.394864 ┆ A      │
│ 3     ┆ Orchid ┆ 0.35846  ┆ B      │
│ null  ┆ Azalea ┆ 0.850184 ┆ C      │
│ 5     ┆ null   ┆ 0.441949 ┆ B      │
└───────┴────────┴──────────┴────────┘

**Numerical**

In [13]:
df_numerical = df.select(
                         (pl.col("value") + 5).alias("value + 5"),
                         (pl.col("value") - 5).alias("value - 5"),
                         (pl.col("value") * pl.col("random")).alias("value * random"),
                         (pl.col("value") / pl.col("random")).alias("value / random"),
                        )

print(df_numerical)

shape: (5, 4)
┌───────────┬───────────┬────────────────┬────────────────┐
│ value + 5 ┆ value - 5 ┆ value * random ┆ value / random │
│ ---       ┆ ---       ┆ ---            ┆ ---            │
│ i64       ┆ i64       ┆ f64            ┆ f64            │
╞═══════════╪═══════════╪════════════════╪════════════════╡
│ 6         ┆ -4        ┆ 0.998341       ┆ 1.001662       │
│ 7         ┆ -3        ┆ 0.789729       ┆ 5.065031       │
│ 8         ┆ -2        ┆ 1.07538        ┆ 8.369135       │
│ null      ┆ null      ┆ null           ┆ null           │
│ 10        ┆ 0         ┆ 2.209747       ┆ 11.313512      │
└───────────┴───────────┴────────────────┴────────────────┘

**Logical**

In [14]:
df_logical = df.select(
                       (pl.col("value") > 1).alias("value > 1"),
                       (pl.col("random") <= 0.5).alias("random <= 0.5"),
                       (pl.col("value") != 1).alias("value != 1"),
                       (pl.col("value") == 1).alias("value == 1"),
                       ((pl.col("random") <= 0.5) & (pl.col("value") > 1)).alias("and_expr"), 
                       ((pl.col("random") <= 0.5) | (pl.col("value") > 1)).alias("or_expr")
                      )

print(df_logical)

shape: (5, 6)
┌───────────┬───────────────┬────────────┬────────────┬──────────┬─────────┐
│ value > 1 ┆ random <= 0.5 ┆ value != 1 ┆ value == 1 ┆ and_expr ┆ or_expr │
│ ---       ┆ ---           ┆ ---        ┆ ---        ┆ ---      ┆ ---     │
│ bool      ┆ bool          ┆ bool       ┆ bool       ┆ bool     ┆ bool    │
╞═══════════╪═══════════════╪════════════╪════════════╪══════════╪═════════╡
│ false     ┆ false         ┆ false      ┆ true       ┆ false    ┆ false   │
│ true      ┆ true          ┆ true       ┆ false      ┆ true     ┆ true    │
│ true      ┆ true          ┆ true       ┆ false      ┆ true     ┆ true    │
│ null      ┆ false         ┆ null       ┆ null       ┆ false    ┆ null    │
│ true      ┆ true          ┆ true       ┆ false      ┆ true     ┆ true    │
└───────────┴───────────────┴────────────┴────────────┴──────────┴─────────┘

In [15]:
df_select = df.select(pl.sum("value"),
                      pl.col("names").sort(),
                      pl.col("names").first().alias("first name"),
                      (pl.mean("value") * 10).alias("10x value"))

print(df_select)

shape: (5, 4)
┌───────┬────────┬────────────┬───────────┐
│ value ┆ names  ┆ first name ┆ 10x value │
│ ---   ┆ ---    ┆ ---        ┆ ---       │
│ i64   ┆ str    ┆ str        ┆ f64       │
╞═══════╪════════╪════════════╪═══════════╡
│ 11    ┆ null   ┆ Acacia     ┆ 27.5      │
│ 11    ┆ Acacia ┆ Acacia     ┆ 27.5      │
│ 11    ┆ Azalea ┆ Acacia     ┆ 27.5      │
│ 11    ┆ Iris   ┆ Acacia     ┆ 27.5      │
│ 11    ┆ Orchid ┆ Acacia     ┆ 27.5      │
└───────┴────────┴────────────┴───────────┘

In [16]:
df = df.with_columns(pl.sum("value").alias("sum_value"),
                     pl.col("random").count().alias("count"))

print(df)

shape: (5, 6)
┌───────┬────────┬──────────┬────────┬───────────┬───────┐
│ value ┆ names  ┆ random   ┆ groups ┆ sum_value ┆ count │
│ ---   ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---   │
│ i64   ┆ str    ┆ f64      ┆ str    ┆ i64       ┆ u32   │
╞═══════╪════════╪══════════╪════════╪═══════════╪═══════╡
│ 1     ┆ Acacia ┆ 0.998341 ┆ A      ┆ 11        ┆ 5     │
│ 2     ┆ Iris   ┆ 0.394864 ┆ A      ┆ 11        ┆ 5     │
│ 3     ┆ Orchid ┆ 0.35846  ┆ B      ┆ 11        ┆ 5     │
│ null  ┆ Azalea ┆ 0.850184 ┆ C      ┆ 11        ┆ 5     │
│ 5     ┆ null   ┆ 0.441949 ┆ B      ┆ 11        ┆ 5     │
└───────┴────────┴──────────┴────────┴───────────┴───────┘

In [17]:
df_filter = df.filter(pl.col("value") > 1)
print(df_filter)

shape: (3, 6)
┌───────┬────────┬──────────┬────────┬───────────┬───────┐
│ value ┆ names  ┆ random   ┆ groups ┆ sum_value ┆ count │
│ ---   ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---   │
│ i64   ┆ str    ┆ f64      ┆ str    ┆ i64       ┆ u32   │
╞═══════╪════════╪══════════╪════════╪═══════════╪═══════╡
│ 2     ┆ Iris   ┆ 0.394864 ┆ A      ┆ 11        ┆ 5     │
│ 3     ┆ Orchid ┆ 0.35846  ┆ B      ┆ 11        ┆ 5     │
│ 5     ┆ null   ┆ 0.441949 ┆ B      ┆ 11        ┆ 5     │
└───────┴────────┴──────────┴────────┴───────────┴───────┘

In [18]:
df_filter = df.filter(pl.col("groups") == "B")
print(df_filter)

shape: (2, 6)
┌───────┬────────┬──────────┬────────┬───────────┬───────┐
│ value ┆ names  ┆ random   ┆ groups ┆ sum_value ┆ count │
│ ---   ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---   │
│ i64   ┆ str    ┆ f64      ┆ str    ┆ i64       ┆ u32   │
╞═══════╪════════╪══════════╪════════╪═══════════╪═══════╡
│ 3     ┆ Orchid ┆ 0.35846  ┆ B      ┆ 11        ┆ 5     │
│ 5     ┆ null   ┆ 0.441949 ┆ B      ┆ 11        ┆ 5     │
└───────┴────────┴──────────┴────────┴───────────┴───────┘

In [19]:
df_group = df.group_by("groups").agg(pl.sum("value"),
                                     pl.col("random").count().alias("count"),
                                     pl.col("random").filter(pl.col("names").is_not_null()).sum().alias("sum 1"),
                                     pl.col("names").reverse().alias("reverse name")
                                    )

print(df_group)

shape: (3, 5)
┌────────┬───────┬───────┬──────────┬────────────────────┐
│ groups ┆ value ┆ count ┆ sum 1    ┆ reverse name       │
│ ---    ┆ ---   ┆ ---   ┆ ---      ┆ ---                │
│ str    ┆ i64   ┆ u32   ┆ f64      ┆ list[str]          │
╞════════╪═══════╪═══════╪══════════╪════════════════════╡
│ B      ┆ 8     ┆ 2     ┆ 0.35846  ┆ [null, "Orchid"]   │
│ C      ┆ 0     ┆ 1     ┆ 0.850184 ┆ ["Azalea"]         │
│ A      ┆ 3     ┆ 2     ┆ 1.393205 ┆ ["Iris", "Acacia"] │
└────────┴───────┴───────┴──────────┴────────────────────┘

## Column selections

In [20]:
df = pl.DataFrame(
                  {"id": [9, 4, 2],
                   "place": ["Mars", "Earth", "Saturn"],
                   "date": pl.date_range(date(2024, 1, 1), date(2024, 1, 3), "1d", eager= True),
                   "sales": [33.4, 2142134.1, 44.7],
                   "has_people": [False, True, False],
                   "logged_at": pl.datetime_range(datetime(2024, 12, 1), datetime(2024, 12, 1, 0, 0, 2), "1s", eager= True)}
                 ).with_row_index("index")

print(df)

shape: (3, 7)
┌───────┬─────┬────────┬────────────┬───────────┬────────────┬─────────────────────┐
│ index ┆ id  ┆ place  ┆ date       ┆ sales     ┆ has_people ┆ logged_at           │
│ ---   ┆ --- ┆ ---    ┆ ---        ┆ ---       ┆ ---        ┆ ---                 │
│ u32   ┆ i64 ┆ str    ┆ date       ┆ f64       ┆ bool       ┆ datetime[μs]        │
╞═══════╪═════╪════════╪════════════╪═══════════╪════════════╪═════════════════════╡
│ 0     ┆ 9   ┆ Mars   ┆ 2024-01-01 ┆ 33.4      ┆ false      ┆ 2024-12-01 00:00:00 │
│ 1     ┆ 4   ┆ Earth  ┆ 2024-01-02 ┆ 2142134.1 ┆ true       ┆ 2024-12-01 00:00:01 │
│ 2     ┆ 2   ┆ Saturn ┆ 2024-01-03 ┆ 44.7      ┆ false      ┆ 2024-12-01 00:00:02 │
└───────┴─────┴────────┴────────────┴───────────┴────────────┴─────────────────────┘

In [21]:
out = df.select(pl.all())  # df.select(pl.col("*"))
print(out)

shape: (3, 7)
┌───────┬─────┬────────┬────────────┬───────────┬────────────┬─────────────────────┐
│ index ┆ id  ┆ place  ┆ date       ┆ sales     ┆ has_people ┆ logged_at           │
│ ---   ┆ --- ┆ ---    ┆ ---        ┆ ---       ┆ ---        ┆ ---                 │
│ u32   ┆ i64 ┆ str    ┆ date       ┆ f64       ┆ bool       ┆ datetime[μs]        │
╞═══════╪═════╪════════╪════════════╪═══════════╪════════════╪═════════════════════╡
│ 0     ┆ 9   ┆ Mars   ┆ 2024-01-01 ┆ 33.4      ┆ false      ┆ 2024-12-01 00:00:00 │
│ 1     ┆ 4   ┆ Earth  ┆ 2024-01-02 ┆ 2142134.1 ┆ true       ┆ 2024-12-01 00:00:01 │
│ 2     ┆ 2   ┆ Saturn ┆ 2024-01-03 ┆ 44.7      ┆ false      ┆ 2024-12-01 00:00:02 │
└───────┴─────┴────────┴────────────┴───────────┴────────────┴─────────────────────┘

In [22]:
out = df.select(pl.col("*").exclude("logged_at", "index"))
print(out)

shape: (3, 5)
┌─────┬────────┬────────────┬───────────┬────────────┐
│ id  ┆ place  ┆ date       ┆ sales     ┆ has_people │
│ --- ┆ ---    ┆ ---        ┆ ---       ┆ ---        │
│ i64 ┆ str    ┆ date       ┆ f64       ┆ bool       │
╞═════╪════════╪════════════╪═══════════╪════════════╡
│ 9   ┆ Mars   ┆ 2024-01-01 ┆ 33.4      ┆ false      │
│ 4   ┆ Earth  ┆ 2024-01-02 ┆ 2142134.1 ┆ true       │
│ 2   ┆ Saturn ┆ 2024-01-03 ┆ 44.7      ┆ false      │
└─────┴────────┴────────────┴───────────┴────────────┘

In [23]:
out = df.select(pl.col("date", "logged_at").dt.to_string("%Y-%h-%d"))
print(out)

shape: (3, 2)
┌─────────────┬─────────────┐
│ date        ┆ logged_at   │
│ ---         ┆ ---         │
│ str         ┆ str         │
╞═════════════╪═════════════╡
│ 2024-Jan-01 ┆ 2024-Dec-01 │
│ 2024-Jan-02 ┆ 2024-Dec-01 │
│ 2024-Jan-03 ┆ 2024-Dec-01 │
└─────────────┴─────────────┘

In [24]:
out = df.select(pl.col(pl.Int64, pl.UInt32, pl.Boolean).n_unique())
print(out)

shape: (1, 3)
┌───────┬─────┬────────────┐
│ index ┆ id  ┆ has_people │
│ ---   ┆ --- ┆ ---        │
│ u32   ┆ u32 ┆ u32        │
╞═══════╪═════╪════════════╡
│ 3     ┆ 3   ┆ 2          │
└───────┴─────┴────────────┘

**selectors**

In [25]:
import polars.selectors as cs

In [26]:
out = df.select(cs.integer(), cs.string())
print(out)

shape: (3, 3)
┌───────┬─────┬────────┐
│ index ┆ id  ┆ place  │
│ ---   ┆ --- ┆ ---    │
│ u32   ┆ i64 ┆ str    │
╞═══════╪═════╪════════╡
│ 0     ┆ 9   ┆ Mars   │
│ 1     ┆ 4   ┆ Earth  │
│ 2     ┆ 2   ┆ Saturn │
└───────┴─────┴────────┘

In [27]:
out = df.select(cs.numeric() - cs.first())
print(out)

shape: (3, 2)
┌─────┬───────────┐
│ id  ┆ sales     │
│ --- ┆ ---       │
│ i64 ┆ f64       │
╞═════╪═══════════╡
│ 9   ┆ 33.4      │
│ 4   ┆ 2142134.1 │
│ 2   ┆ 44.7      │
└─────┴───────────┘

In [28]:
out = df.select(cs.temporal().as_expr().dt.to_string("%Y-%h-%d"))
print(out)

shape: (3, 2)
┌─────────────┬─────────────┐
│ date        ┆ logged_at   │
│ ---         ┆ ---         │
│ str         ┆ str         │
╞═════════════╪═════════════╡
│ 2024-Jan-01 ┆ 2024-Dec-01 │
│ 2024-Jan-02 ┆ 2024-Dec-01 │
│ 2024-Jan-03 ┆ 2024-Dec-01 │
└─────────────┴─────────────┘

## Strings

In [29]:
df = pl.DataFrame(
                  {"animal": ["Crab", "cat and dog", "rab$bit", None, "Horse", "tiger", "Elephant", None]}
                 )

print(df)

shape: (8, 1)
┌─────────────┐
│ animal      │
│ ---         │
│ str         │
╞═════════════╡
│ Crab        │
│ cat and dog │
│ rab$bit     │
│ null        │
│ Horse       │
│ tiger       │
│ Elephant    │
│ null        │
└─────────────┘

In [30]:
out = df.select(pl.col("animal"),
                pl.col("animal").str.len_bytes().alias("byte_count"),
                pl.col("animal").str.len_chars().alias("letter_count")
               )
print(out)

shape: (8, 3)
┌─────────────┬────────────┬──────────────┐
│ animal      ┆ byte_count ┆ letter_count │
│ ---         ┆ ---        ┆ ---          │
│ str         ┆ u32        ┆ u32          │
╞═════════════╪════════════╪══════════════╡
│ Crab        ┆ 4          ┆ 4            │
│ cat and dog ┆ 11         ┆ 11           │
│ rab$bit     ┆ 7          ┆ 7            │
│ null        ┆ null       ┆ null         │
│ Horse       ┆ 5          ┆ 5            │
│ tiger       ┆ 5          ┆ 5            │
│ Elephant    ┆ 8          ┆ 8            │
│ null        ┆ null       ┆ null         │
└─────────────┴────────────┴──────────────┘

**String parsing**

In [31]:
out = df.select(pl.col("animal"),
                pl.col("animal").str.contains("cat|bit").alias("regex"),
                pl.col("animal").str.contains("rab$", literal= True).alias("literal"),
                pl.col("animal").str.starts_with("rab").alias("start_with: rab"),
                pl.col("animal").str.ends_with("dog").alias("end_with: dog")
               )

print(out)

shape: (8, 5)
┌─────────────┬───────┬─────────┬─────────────────┬───────────────┐
│ animal      ┆ regex ┆ literal ┆ start_with: rab ┆ end_with: dog │
│ ---         ┆ ---   ┆ ---     ┆ ---             ┆ ---           │
│ str         ┆ bool  ┆ bool    ┆ bool            ┆ bool          │
╞═════════════╪═══════╪═════════╪═════════════════╪═══════════════╡
│ Crab        ┆ false ┆ false   ┆ false           ┆ false         │
│ cat and dog ┆ true  ┆ false   ┆ false           ┆ true          │
│ rab$bit     ┆ true  ┆ true    ┆ true            ┆ false         │
│ null        ┆ null  ┆ null    ┆ null            ┆ null          │
│ Horse       ┆ false ┆ false   ┆ false           ┆ false         │
│ tiger       ┆ false ┆ false   ┆ false           ┆ false         │
│ Elephant    ┆ false ┆ false   ┆ false           ┆ false         │
│ null        ┆ null  ┆ null    ┆ null            ┆ null          │
└─────────────┴───────┴─────────┴─────────────────┴───────────────┘

In [32]:
df = pl.DataFrame(
                  {"data": ["123 bla 45 asd", "xyz 678 910t", "bar", None]}
                 )
print(df)

shape: (4, 1)
┌────────────────┐
│ data           │
│ ---            │
│ str            │
╞════════════════╡
│ 123 bla 45 asd │
│ xyz 678 910t   │
│ bar            │
│ null           │
└────────────────┘

In [33]:
out = df.select(
                pl.col("data").str.extract_all(r"\d+").alias("extracted_nrs")
               )

print(out)

shape: (4, 1)
┌────────────────┐
│ extracted_nrs  │
│ ---            │
│ list[str]      │
╞════════════════╡
│ ["123", "45"]  │
│ ["678", "910"] │
│ []             │
│ null           │
└────────────────┘

In [34]:
df = pl.DataFrame(
                  {"id": [1, 2], 
                   "text": ["123abc", "abc456"]
                  }
                 )

print(df)

shape: (2, 2)
┌─────┬────────┐
│ id  ┆ text   │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ 123abc │
│ 2   ┆ abc456 │
└─────┴────────┘

In [35]:
out = df.with_columns(
                      pl.col("text").str.replace(r"abc\b", "ABC"),
                      pl.col("text").str.replace_all("a", "-", literal= True).alias("text_replace_all")
                     )
print(out)

shape: (2, 3)
┌─────┬────────┬──────────────────┐
│ id  ┆ text   ┆ text_replace_all │
│ --- ┆ ---    ┆ ---              │
│ i64 ┆ str    ┆ str              │
╞═════╪════════╪══════════════════╡
│ 1   ┆ 123ABC ┆ 123-bc           │
│ 2   ┆ abc456 ┆ -bc456           │
└─────┴────────┴──────────────────┘

## Aggregation

In [36]:
url = "https://theunitedstates.io/congress-legislators/legislators-historical.csv"

dtypes = {
          "first_name": pl.Categorical,
          "gender": pl.Categorical,
          "type": pl.Categorical,
          "state": pl.Categorical,
          "party": pl.Categorical
         }

dataset = pl.read_csv(url, dtypes=dtypes).with_columns(pl.col("birthday").str.to_date(strict= False))

print(dataset)

shape: (12_141, 36)
┌───────────┬────────────┬─────────────┬────────┬───┬──────────────────┬──────────────────┬──────────┬─────────────────┐
│ last_name ┆ first_name ┆ middle_name ┆ suffix ┆ … ┆ ballotpedia_id   ┆ washington_post_ ┆ icpsr_id ┆ wikipedia_id    │
│ ---       ┆ ---        ┆ ---         ┆ ---    ┆   ┆ ---              ┆ id               ┆ ---      ┆ ---             │
│ str       ┆ cat        ┆ str         ┆ str    ┆   ┆ str              ┆ ---              ┆ i64      ┆ str             │
│           ┆            ┆             ┆        ┆   ┆                  ┆ str              ┆          ┆                 │
╞═══════════╪════════════╪═════════════╪════════╪═══╪══════════════════╪══════════════════╪══════════╪═════════════════╡
│ Bassett   ┆ Richard    ┆ null        ┆ null   ┆ … ┆ null             ┆ null             ┆ 507      ┆ Richard Bassett │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ (Delaware       │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ politi…         │
│ Bland     ┆ Theodorick ┆ null        ┆ null   ┆ … ┆ null             ┆ null             ┆ 786      ┆ Theodorick      │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ Bland           │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ (congressman)   │
│ Burke     ┆ Aedanus    ┆ null        ┆ null   ┆ … ┆ null             ┆ null             ┆ 1260     ┆ Aedanus Burke   │
│ Carroll   ┆ Daniel     ┆ null        ┆ null   ┆ … ┆ null             ┆ null             ┆ 1538     ┆ Daniel Carroll  │
│ Clymer    ┆ George     ┆ null        ┆ null   ┆ … ┆ null             ┆ null             ┆ 1859     ┆ George Clymer   │
│ …         ┆ …          ┆ …           ┆ …      ┆ … ┆ …                ┆ …                ┆ …        ┆ …               │
│ Feinstein ┆ Dianne     ┆ null        ┆ null   ┆ … ┆ Dianne Feinstein ┆ null             ┆ 49300    ┆ Dianne          │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ Feinstein       │
│ Cicilline ┆ David      ┆ N.          ┆ null   ┆ … ┆ David N.         ┆ null             ┆ 21172    ┆ David Cicilline │
│           ┆            ┆             ┆        ┆   ┆ Cicilline        ┆                  ┆          ┆                 │
│ Stewart   ┆ Chris      ┆ null        ┆ null   ┆ … ┆ Chris Stewart    ┆ null             ┆ 21367    ┆ Chris Stewart   │
│           ┆            ┆             ┆        ┆   ┆                  ┆                  ┆          ┆ (politician)    │
│ Santos    ┆ George     ┆ Anthony     ┆ null   ┆ … ┆ George           ┆ null             ┆ null     ┆ George Santos   │
│           ┆            ┆ Devolder    ┆        ┆   ┆ Devolder-Santos  ┆                  ┆          ┆                 │
│ McCarthy  ┆ Kevin      ┆ null        ┆ null   ┆ … ┆ Kevin McCarthy   ┆ null             ┆ 20703    ┆ Kevin McCarthy  │
│           ┆            ┆             ┆        ┆   ┆ (California)     ┆                  ┆          ┆                 │
└───────────┴────────────┴─────────────┴────────┴───┴──────────────────┴──────────────────┴──────────┴─────────────────┘

**Basic aggregations**

In [37]:
q = (dataset.lazy().group_by("first_name").agg(
                                                pl.len(),
                                                pl.col("gender"),
                                                pl.first("last_name")).sort("len", descending= True).limit(5)
    )

df = q.collect()
print(df)

shape: (5, 4)
┌────────────┬──────┬───────────────────┬───────────┐
│ first_name ┆ len  ┆ gender            ┆ last_name │
│ ---        ┆ ---  ┆ ---               ┆ ---       │
│ cat        ┆ u32  ┆ list[cat]         ┆ str       │
╞════════════╪══════╪═══════════════════╪═══════════╡
│ John       ┆ 1256 ┆ ["M", "M", … "M"] ┆ Walker    │
│ William    ┆ 1022 ┆ ["M", "M", … "M"] ┆ Few       │
│ James      ┆ 714  ┆ ["M", "M", … "M"] ┆ Armstrong │
│ Thomas     ┆ 454  ┆ ["M", "M", … "M"] ┆ Tucker    │
│ Charles    ┆ 439  ┆ ["M", "M", … "M"] ┆ Carroll   │
└────────────┴──────┴───────────────────┴───────────┘

## Missing data

In [38]:
df = pl.DataFrame(
                  {"col_1": [1, 2, 3],
                   "col_2": [4, None, 5]}
                 )

print(df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ i64   ┆ i64   │
╞═══════╪═══════╡
│ 1     ┆ 4     │
│ 2     ┆ null  │
│ 3     ┆ 5     │
└───────┴───────┘

In [39]:
null_count_df = df.null_count()
print(null_count_df)

shape: (1, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ u32   ┆ u32   │
╞═══════╪═══════╡
│ 0     ┆ 1     │
└───────┴───────┘

In [40]:
is_null_df = df.select(pl.col("col_1", "col_2").is_null())
print(is_null_df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ bool  ┆ bool  │
╞═══════╪═══════╡
│ false ┆ false │
│ false ┆ true  │
│ false ┆ false │
└───────┴───────┘

**Filling missing data**

*Fill with specified literal value*

In [41]:
fill_literal_df = df.with_columns(
                                  pl.col("col_2").fill_null(pl.lit(100))
                                 )
print(fill_literal_df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ i64   ┆ i64   │
╞═══════╪═══════╡
│ 1     ┆ 4     │
│ 2     ┆ 100   │
│ 3     ┆ 5     │
└───────┴───────┘

*Fill with a strategy*

In [42]:
fill_forward_df = df.with_columns(
                                  pl.col("col_2").fill_null(strategy= "forward")
                                 )
print(fill_forward_df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ i64   ┆ i64   │
╞═══════╪═══════╡
│ 1     ┆ 4     │
│ 2     ┆ 4     │
│ 3     ┆ 5     │
└───────┴───────┘

*Fill with an expression*

In [43]:
fill_median_df = df.with_columns(
                                 pl.col("col_2").fill_null(pl.median("col_2"))
                                )
print(fill_median_df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ i64   ┆ f64   │
╞═══════╪═══════╡
│ 1     ┆ 4.0   │
│ 2     ┆ 4.5   │
│ 3     ┆ 5.0   │
└───────┴───────┘

*Fill with interpolation*

In [44]:
fill_interpolation_df = df.with_columns(
                                        pl.col("col_2").interpolate()
                                       )
print(fill_interpolation_df)

shape: (3, 2)
┌───────┬───────┐
│ col_1 ┆ col_2 │
│ ---   ┆ ---   │
│ i64   ┆ f64   │
╞═══════╪═══════╡
│ 1     ┆ 4.0   │
│ 2     ┆ 4.5   │
│ 3     ┆ 5.0   │
└───────┴───────┘

**NotaNumber or NaN values**

In [45]:
nan_df = pl.DataFrame(
                      {"value": [1.0, np.nan, float("nan"), 3.0]}
                     )
print(nan_df)

shape: (4, 1)
┌───────┐
│ value │
│ ---   │
│ f64   │
╞═══════╡
│ 1.0   │
│ NaN   │
│ NaN   │
│ 3.0   │
└───────┘

In [46]:
mean_nan_df = nan_df.with_columns(
                                  pl.col("value").fill_nan(None).alias("value")
                                 ).mean()
print(mean_nan_df)

shape: (1, 1)
┌───────┐
│ value │
│ ---   │
│ f64   │
╞═══════╡
│ 2.0   │
└───────┘

## Join strategies

In [47]:
df_customers = pl.DataFrame(
                            {"customer_id": [1, 2, 3],
                             "name": ["Alice", "Bob", "Charlie"]}
                           )
print(df_customers)

shape: (3, 2)
┌─────────────┬─────────┐
│ customer_id ┆ name    │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 1           ┆ Alice   │
│ 2           ┆ Bob     │
│ 3           ┆ Charlie │
└─────────────┴─────────┘

In [48]:
df_orders = pl.DataFrame(
                         {"order_id": ["a", "b", "c"],
                          "customer_id": [1, 2, 2],
                          "amount": [100, 200, 300]}
                        )
print(df_orders)

shape: (3, 3)
┌──────────┬─────────────┬────────┐
│ order_id ┆ customer_id ┆ amount │
│ ---      ┆ ---         ┆ ---    │
│ str      ┆ i64         ┆ i64    │
╞══════════╪═════════════╪════════╡
│ a        ┆ 1           ┆ 100    │
│ b        ┆ 2           ┆ 200    │
│ c        ┆ 2           ┆ 300    │
└──────────┴─────────────┴────────┘

**Inner join**

In [49]:
df_inner_join = df_customers.join(df_orders, on= "customer_id", how= "inner")
print(df_inner_join)

shape: (3, 4)
┌─────────────┬───────┬──────────┬────────┐
│ customer_id ┆ name  ┆ order_id ┆ amount │
│ ---         ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ str   ┆ str      ┆ i64    │
╞═════════════╪═══════╪══════════╪════════╡
│ 1           ┆ Alice ┆ a        ┆ 100    │
│ 2           ┆ Bob   ┆ b        ┆ 200    │
│ 2           ┆ Bob   ┆ c        ┆ 300    │
└─────────────┴───────┴──────────┴────────┘

**Left join**

In [50]:
df_left_join = df_customers.join(df_orders, on= "customer_id", how= "left")
print(df_left_join)

shape: (4, 4)
┌─────────────┬─────────┬──────────┬────────┐
│ customer_id ┆ name    ┆ order_id ┆ amount │
│ ---         ┆ ---     ┆ ---      ┆ ---    │
│ i64         ┆ str     ┆ str      ┆ i64    │
╞═════════════╪═════════╪══════════╪════════╡
│ 1           ┆ Alice   ┆ a        ┆ 100    │
│ 2           ┆ Bob     ┆ b        ┆ 200    │
│ 2           ┆ Bob     ┆ c        ┆ 300    │
│ 3           ┆ Charlie ┆ null     ┆ null   │
└─────────────┴─────────┴──────────┴────────┘

**Outer join**

In [51]:
df_outer_join = df_customers.join(df_orders, on= "customer_id", how= "outer")
print(df_outer_join)

shape: (4, 5)
┌─────────────┬─────────┬──────────┬───────────────────┬────────┐
│ customer_id ┆ name    ┆ order_id ┆ customer_id_right ┆ amount │
│ ---         ┆ ---     ┆ ---      ┆ ---               ┆ ---    │
│ i64         ┆ str     ┆ str      ┆ i64               ┆ i64    │
╞═════════════╪═════════╪══════════╪═══════════════════╪════════╡
│ 1           ┆ Alice   ┆ a        ┆ 1                 ┆ 100    │
│ 2           ┆ Bob     ┆ b        ┆ 2                 ┆ 200    │
│ 2           ┆ Bob     ┆ c        ┆ 2                 ┆ 300    │
│ 3           ┆ Charlie ┆ null     ┆ null              ┆ null   │
└─────────────┴─────────┴──────────┴───────────────────┴────────┘

**Cross join**

In [52]:
df_colors = pl.DataFrame(
                         {"color": ["red", "blue", "green"]}
                        )


df_sizes = pl.DataFrame(
                        {"size": ["S", "M", "L"]}
                       )

In [53]:
df_cross_join = df_colors.join(df_sizes, how= "cross")
print(df_cross_join)

shape: (9, 2)
┌───────┬──────┐
│ color ┆ size │
│ ---   ┆ ---  │
│ str   ┆ str  │
╞═══════╪══════╡
│ red   ┆ S    │
│ red   ┆ M    │
│ red   ┆ L    │
│ blue  ┆ S    │
│ blue  ┆ M    │
│ blue  ┆ L    │
│ green ┆ S    │
│ green ┆ M    │
│ green ┆ L    │
└───────┴──────┘

**Semi join**

In [54]:
df_semi_join = df_customers.join(df_orders, on= "customer_id", how= "semi")
print(df_semi_join)

shape: (2, 2)
┌─────────────┬───────┐
│ customer_id ┆ name  │
│ ---         ┆ ---   │
│ i64         ┆ str   │
╞═════════════╪═══════╡
│ 1           ┆ Alice │
│ 2           ┆ Bob   │
└─────────────┴───────┘

In [55]:
df = pl.DataFrame(
                  {"a": range(8),
                   "b": np.random.rand(8),
                   "d": [1, 2.0, float("nan"), float("nan"), 0, -5, -42, None]}
                )

df_2 = pl.DataFrame(
                    {"x": range(8),
                     "y": ["A", "A", "A", "B", "B", "C", "X", "X"]}
                   )

joined = df.join(df_2, left_on= "a", right_on= "x")
print(joined)

shape: (8, 4)
┌─────┬──────────┬───────┬─────┐
│ a   ┆ b        ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ str │
╞═════╪══════════╪═══════╪═════╡
│ 0   ┆ 0.642785 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.036642 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.875009 ┆ NaN   ┆ A   │
│ 3   ┆ 0.85431  ┆ NaN   ┆ B   │
│ 4   ┆ 0.728842 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.064174 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.505543 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.185856 ┆ null  ┆ X   │
└─────┴──────────┴───────┴─────┘

## Concatenation

In [56]:
df_v1 = pl.DataFrame(
                     {"a": [1],
                      "b": [3]}
                    )

df_v2 = pl.DataFrame(
                     {"a": [2],
                      "b": [4]}
                    )

df_vertical_concat = pl.concat([df_v1, df_v2], how= "vertical")

print(df_vertical_concat)

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 4   │
└─────┴─────┘

In [57]:
df_h1 = pl.DataFrame(
                     {"l1": [1, 2],
                      "l2": [3, 4]}
                    )

df_h2 = pl.DataFrame(
                     {"r1": [5, 6],
                      "r2": [7, 8],
                      "r3": [9, 10]}
                    )

df_horizontal_concat = pl.concat([df_h1, df_h2], how= "horizontal")

print(df_horizontal_concat)

shape: (2, 5)
┌─────┬─────┬─────┬─────┬─────┐
│ l1  ┆ l2  ┆ r1  ┆ r2  ┆ r3  │
│ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╪═════╡
│ 1   ┆ 3   ┆ 5   ┆ 7   ┆ 9   │
│ 2   ┆ 4   ┆ 6   ┆ 8   ┆ 10  │
└─────┴─────┴─────┴─────┴─────┘

In [58]:
df_d1 = pl.DataFrame(
                     {"a": [1],
                      "b": [3]}
                    )

df_d2 = pl.DataFrame(
                     {"a": [2],
                      "d": [4]}
                    )

df_diagonal_concat = pl.concat([df_d1, df_d2], how= "diagonal")

print(df_diagonal_concat)

shape: (2, 3)
┌─────┬──────┬──────┐
│ a   ┆ b    ┆ d    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ 3    ┆ null │
│ 2   ┆ null ┆ 4    │
└─────┴──────┴──────┘

**Reading & writing**

In [59]:
df = pl.DataFrame(
                  {"integer": [1, 2, 3, 4, 5, 6],
                   "date": [datetime(2024, 1, 11),
                            datetime(2024, 7, 2),
                            datetime(2024, 3, 3),
                            datetime(2024, 9, 11),
                            datetime(2024, 2, 15),
                            datetime(2024, 10, 24)
                          ],
                   "float": [4.0, 5.0, 6.0, 7.0, 8.0, 9.0],
                   "string": ["a", "b", "c", "d", "e", "f"]
                  }
                 )

print(df)

shape: (6, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2024-01-11 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2024-07-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2024-03-03 00:00:00 ┆ 6.0   ┆ c      │
│ 4       ┆ 2024-09-11 00:00:00 ┆ 7.0   ┆ d      │
│ 5       ┆ 2024-02-15 00:00:00 ┆ 8.0   ┆ e      │
│ 6       ┆ 2024-10-24 00:00:00 ┆ 9.0   ┆ f      │
└─────────┴─────────────────────┴───────┴────────┘

In [60]:
df.write_csv("df_1.csv")

In [61]:
df_csv = pl.read_csv("df_1.csv")
print(df_csv)

shape: (6, 4)
┌─────────┬────────────────────────────┬───────┬────────┐
│ integer ┆ date                       ┆ float ┆ string │
│ ---     ┆ ---                        ┆ ---   ┆ ---    │
│ i64     ┆ str                        ┆ f64   ┆ str    │
╞═════════╪════════════════════════════╪═══════╪════════╡
│ 1       ┆ 2024-01-11T00:00:00.000000 ┆ 4.0   ┆ a      │
│ 2       ┆ 2024-07-02T00:00:00.000000 ┆ 5.0   ┆ b      │
│ 3       ┆ 2024-03-03T00:00:00.000000 ┆ 6.0   ┆ c      │
│ 4       ┆ 2024-09-11T00:00:00.000000 ┆ 7.0   ┆ d      │
│ 5       ┆ 2024-02-15T00:00:00.000000 ┆ 8.0   ┆ e      │
│ 6       ┆ 2024-10-24T00:00:00.000000 ┆ 9.0   ┆ f      │
└─────────┴────────────────────────────┴───────┴────────┘

In [62]:
print(df.select(pl.col("*")))

shape: (6, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2024-01-11 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2024-07-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2024-03-03 00:00:00 ┆ 6.0   ┆ c      │
│ 4       ┆ 2024-09-11 00:00:00 ┆ 7.0   ┆ d      │
│ 5       ┆ 2024-02-15 00:00:00 ┆ 8.0   ┆ e      │
│ 6       ┆ 2024-10-24 00:00:00 ┆ 9.0   ┆ f      │
└─────────┴─────────────────────┴───────┴────────┘

In [63]:
print(df.select(pl.col("date")))

shape: (6, 1)
┌─────────────────────┐
│ date                │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2024-01-11 00:00:00 │
│ 2024-07-02 00:00:00 │
│ 2024-03-03 00:00:00 │
│ 2024-09-11 00:00:00 │
│ 2024-02-15 00:00:00 │
│ 2024-10-24 00:00:00 │
└─────────────────────┘

**Filter**

In [64]:
print(df.filter(
                pl.col("date").is_between(datetime(2024, 2, 20), datetime(2024, 10, 27))
                )
     )

shape: (4, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 2       ┆ 2024-07-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2024-03-03 00:00:00 ┆ 6.0   ┆ c      │
│ 4       ┆ 2024-09-11 00:00:00 ┆ 7.0   ┆ d      │
│ 6       ┆ 2024-10-24 00:00:00 ┆ 9.0   ┆ f      │
└─────────┴─────────────────────┴───────┴────────┘

In [65]:
print(df.with_columns(
                      pl.col("float").sum().alias("sum float"), 
                      (pl.col("float") + 4).alias("float + 4"))
     )

shape: (6, 6)
┌─────────┬─────────────────────┬───────┬────────┬───────────┬───────────┐
│ integer ┆ date                ┆ float ┆ string ┆ sum float ┆ float + 4 │
│ ---     ┆ ---                 ┆ ---   ┆ ---    ┆ ---       ┆ ---       │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    ┆ f64       ┆ f64       │
╞═════════╪═════════════════════╪═══════╪════════╪═══════════╪═══════════╡
│ 1       ┆ 2024-01-11 00:00:00 ┆ 4.0   ┆ a      ┆ 39.0      ┆ 8.0       │
│ 2       ┆ 2024-07-02 00:00:00 ┆ 5.0   ┆ b      ┆ 39.0      ┆ 9.0       │
│ 3       ┆ 2024-03-03 00:00:00 ┆ 6.0   ┆ c      ┆ 39.0      ┆ 10.0      │
│ 4       ┆ 2024-09-11 00:00:00 ┆ 7.0   ┆ d      ┆ 39.0      ┆ 11.0      │
│ 5       ┆ 2024-02-15 00:00:00 ┆ 8.0   ┆ e      ┆ 39.0      ┆ 12.0      │
│ 6       ┆ 2024-10-24 00:00:00 ┆ 9.0   ┆ f      ┆ 39.0      ┆ 13.0      │
└─────────┴─────────────────────┴───────┴────────┴───────────┴───────────┘

**Group by**

In [66]:
df_1 = pl.DataFrame(
                    {"x": range(8),
                     "y": ["A", "A", "A", "B", "B", "C", "X", "X"]}
                   )

print(df_1)

shape: (8, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 0   ┆ A   │
│ 1   ┆ A   │
│ 2   ┆ A   │
│ 3   ┆ B   │
│ 4   ┆ B   │
│ 5   ┆ C   │
│ 6   ┆ X   │
│ 7   ┆ X   │
└─────┴─────┘

In [67]:
print(df_1.group_by("y", maintain_order= True).agg(
                                                   pl.col("*").count().alias("count"),
                                                   pl.col("*").sum().alias("sum")
                                                  )
     )

shape: (4, 3)
┌─────┬───────┬─────┐
│ y   ┆ count ┆ sum │
│ --- ┆ ---   ┆ --- │
│ str ┆ u32   ┆ i64 │
╞═════╪═══════╪═════╡
│ A   ┆ 3     ┆ 3   │
│ B   ┆ 2     ┆ 7   │
│ C   ┆ 1     ┆ 5   │
│ X   ┆ 2     ┆ 13  │
└─────┴───────┴─────┘