In [1]:
import pandas as pd
import plotly.express as px
from dash import Dash, html, dcc

In [2]:
happiness = pd.read_csv("world_happiness.csv")
happiness.head()

     country                     region  happiness_rank  happiness_score  year
0  Australia  Australia and New Zealand              10            7.284  2015
1  Australia  Australia and New Zealand               9            7.313  2016
2  Australia  Australia and New Zealand              10            7.284  2017
3  Australia  Australia and New Zealand              10            7.272  2018
4  Australia  Australia and New Zealand              11            7.228  2019

In [3]:
line_figure = px.line(happiness[happiness["country"] == "United States"], 
                      x = "year", 
                      y = "happiness_score", 
                      title= "Happiness Score in the USA")


app = Dash()

app.layout = html.Div([
    
    html.H1("World Happiness Dashboard"),  
    
    html.P(["This dashboard shows the happiness score.",
            html.Br(),
            html.A("World Happiness Report Data Source",
                   href= "https://worldhappiness.report",
                   target= "_blank")]),
    
    dcc.RadioItems(options= happiness["region"].unique(),
                   value= "North America"),
    
    dcc.Checklist(options= happiness["region"].unique(),
                  value= ["North America"]),
    
    dcc.Dropdown(options= happiness["country"].unique(),
                 value= "United States"),
    
    dcc.Graph(figure= line_figure)
    
])


if __name__ == "__main__":
    app.run_server(debug= True)