## Import Libraries

In [1]:
import pandas as pd
import plotly.express as px
from dash import html, dcc, Input, Output
from jupyter_dash import JupyterDash

## Load Data

In [2]:
happiness = pd.read_csv("world_happiness.csv")
happiness.head(3)

     country                     region  happiness_rank  happiness_score  year
0  Australia  Australia and New Zealand              10            7.284  2015
1  Australia  Australia and New Zealand               9            7.313  2016
2  Australia  Australia and New Zealand              10            7.284  2017

In [3]:
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          852 non-null    object
 1   region           852 non-null    object
 2   happiness_rank   852 non-null    int64
 3   happiness_score  852 non-null    float64
 4   year             852 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 33.4+ KB

## Build the app

In [4]:
app = JupyterDash()  # app = Dash()

app.layout = html.Div([
    html.H1("World Happiness Dashboard"), 
    html.P(["This dashboard shows the happiness score.", 
            html.Br(), 
            html.A("World Happiness Report Data Source", 
                   href= "https://worldhappiness.report/", 
                   target= "_blank")]), 
    dcc.Dropdown(id= "country_dropdown", 
                 options= happiness["country"].unique(), 
                 value= "United States"),
    dcc.Graph(id= "happiness_graph")
])


@app.callback(
    Output("happiness_graph", "figure"), 
    Input("country_dropdown", "value")
)


def Update_Graph(selected_country):
    filtered_happiness = happiness[happiness["country"] == selected_country]
    line_fig = px.line(filtered_happiness, 
                       x= "year", y= "happiness_score", 
                       title= f"Happiness Score in {selected_country}")
    return line_fig

C:\Users\Hediye\AppData\Local\Programs\Python\Python312\Lib\site-packages\dash\dash.py:538: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

In [5]:
app.run_server(mode= "external")

Dash app running on http://127.0.0.1:8050/

In [6]:
# app.run_server(mode= "inline")

In [7]:
# app.run_server(mode= "jupyterlab")
# https://github.com/plotly/jupyter-dash # jupyterlab-support