In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
df.select(pl.col("*")).head()

shape: (5, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 46           ┆ 32           ┆ 33           ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 47           ┆ 31           ┆ 32           ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 51           ┆ 41           ┆ 35           ┆ 9.73        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 52           ┆ 38           ┆ 32           ┆ 6.86        │
│ 0.01         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 38           ┆ 29           ┆ 19           ┆ 7.8         │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [4]:
df.select(pl.col("*").exclude("Data.Precipitation", "Station.Code")).head(3)

shape: (3, 12)
┌────────────┬────────────┬──────────────┬───────────┬───┬───────────────┬───────────────┬──────────────┬──────────────┐
│ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ Date.Year ┆ … ┆ Data.Temperat ┆ Data.Temperat ┆ Data.Wind.Di ┆ Data.Wind.Sp │
│ ---        ┆ ---        ┆ ---          ┆ ---       ┆   ┆ ure.Max Temp  ┆ ure.Min Temp  ┆ rection      ┆ eed          │
│ str        ┆ i64        ┆ i64          ┆ i64       ┆   ┆ ---           ┆ ---           ┆ ---          ┆ ---          │
│            ┆            ┆              ┆           ┆   ┆ i64           ┆ i64           ┆ i64          ┆ f64          │
╞════════════╪════════════╪══════════════╪═══════════╪═══╪═══════════════╪═══════════════╪══════════════╪══════════════╡
│ 2016-01-03 ┆ 1          ┆ 3            ┆ 2016      ┆ … ┆ 46            ┆ 32            ┆ 33           ┆ 4.33         │
│ 2016-01-03 ┆ 1          ┆ 3            ┆ 2016      ┆ … ┆ 47            ┆ 31            ┆ 32           ┆ 3.86         │
│ 2016-01-03 ┆ 1          ┆ 3            ┆ 2016      ┆ … ┆ 51            ┆ 41            ┆ 35           ┆ 9.73         │
└────────────┴────────────┴──────────────┴───────────┴───┴───────────────┴───────────────┴──────────────┴──────────────┘

In [5]:
df.select(pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"), pl.col("Data.Wind.Speed")).head()

shape: (5, 3)
┌──────────────┬───────────────────────────┬─────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ Data.Wind.Speed │
│ ---          ┆ ---                       ┆ ---             │
│ str          ┆ i64                       ┆ f64             │
╞══════════════╪═══════════════════════════╪═════════════════╡
│ Birmingham   ┆ 39                        ┆ 4.33            │
│ Huntsville   ┆ 39                        ┆ 3.86            │
│ Mobile       ┆ 46                        ┆ 9.73            │
│ Montgomery   ┆ 45                        ┆ 6.86            │
│ Anchorage    ┆ 34                        ┆ 7.8             │
└──────────────┴───────────────────────────┴─────────────────┘

In [6]:
df.select(pl.col(["Station.City", "Data.Temperature.Avg Temp", "Data.Wind.Speed"])).head()

shape: (5, 3)
┌──────────────┬───────────────────────────┬─────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ Data.Wind.Speed │
│ ---          ┆ ---                       ┆ ---             │
│ str          ┆ i64                       ┆ f64             │
╞══════════════╪═══════════════════════════╪═════════════════╡
│ Birmingham   ┆ 39                        ┆ 4.33            │
│ Huntsville   ┆ 39                        ┆ 3.86            │
│ Mobile       ┆ 46                        ┆ 9.73            │
│ Montgomery   ┆ 45                        ┆ 6.86            │
│ Anchorage    ┆ 34                        ┆ 7.8             │
└──────────────┴───────────────────────────┴─────────────────┘

In [7]:
df.select(pl.all()).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 46           ┆ 32           ┆ 33           ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 47           ┆ 31           ┆ 32           ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 51           ┆ 41           ┆ 35           ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [8]:
df.filter(pl.col("Station.State") == "Alaska").head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.01         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 38           ┆ 29           ┆ 19           ┆ 7.8         │
│ 0.09         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 44           ┆ 31           ┆ 9            ┆ 8.7         │
│ 0.05         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 36           ┆ 24           ┆ 9            ┆ 16.46       │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [9]:
df.filter( (pl.col("Station.State") == "Alaska") & (pl.col("Station.City") == "Annette") ).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.09         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 44           ┆ 31           ┆ 9            ┆ 8.7         │
│ 0.48         ┆ 2016-01-10 ┆ 1          ┆ 10           ┆ … ┆ 43           ┆ 27           ┆ 24           ┆ 5.42        │
│ 2.59         ┆ 2016-01-17 ┆ 1          ┆ 17           ┆ … ┆ 46           ┆ 38           ┆ 10           ┆ 8.68        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [10]:
df.filter( (pl.col("Station.State") == "Alaska") | (pl.col("Station.City") == "Annette") ).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.01         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 38           ┆ 29           ┆ 19           ┆ 7.8         │
│ 0.09         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 44           ┆ 31           ┆ 9            ┆ 8.7         │
│ 0.05         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 36           ┆ 24           ┆ 9            ┆ 16.46       │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘