In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
city = ["Montgomery", "Birmingham"]

df.select(
          pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"),
          pl.when( (pl.col("Station.City").is_in(city)) & (pl.col("Data.Temperature.Avg Temp") > 35) )
            .then(pl.lit(1))
            .otherwise(pl.lit(0))
          .alias("City & Temperature")
).head(6)

shape: (6, 3)
┌──────────────┬───────────────────────────┬────────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ City & Temperature │
│ ---          ┆ ---                       ┆ ---                │
│ str          ┆ i64                       ┆ i32                │
╞══════════════╪═══════════════════════════╪════════════════════╡
│ Birmingham   ┆ 39                        ┆ 1                  │
│ Huntsville   ┆ 39                        ┆ 0                  │
│ Mobile       ┆ 46                        ┆ 0                  │
│ Montgomery   ┆ 45                        ┆ 1                  │
│ Anchorage    ┆ 34                        ┆ 0                  │
│ Annette      ┆ 38                        ┆ 0                  │
└──────────────┴───────────────────────────┴────────────────────┘

In [4]:
city = ["Montgomery", "Birmingham"]

df.select(
          pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"),
          pl.when( (pl.col("Station.City").is_in(city)) | (pl.col("Data.Temperature.Avg Temp") > 35) )
            .then(pl.lit(1))
            .otherwise(pl.lit(0))
          .alias("City & Temperature")
).head(6)

shape: (6, 3)
┌──────────────┬───────────────────────────┬────────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ City & Temperature │
│ ---          ┆ ---                       ┆ ---                │
│ str          ┆ i64                       ┆ i32                │
╞══════════════╪═══════════════════════════╪════════════════════╡
│ Birmingham   ┆ 39                        ┆ 1                  │
│ Huntsville   ┆ 39                        ┆ 1                  │
│ Mobile       ┆ 46                        ┆ 1                  │
│ Montgomery   ┆ 45                        ┆ 1                  │
│ Anchorage    ┆ 34                        ┆ 0                  │
│ Annette      ┆ 38                        ┆ 1                  │
└──────────────┴───────────────────────────┴────────────────────┘