In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
df.select(
          pl.sum("Data.Temperature.Avg Temp").alias("Sum_Data_Temperature_Avg Temp")
)

shape: (1, 1)
┌───────────────────────────────┐
│ Sum_Data_Temperature_Avg Temp │
│ ---                           │
│ i64                           │
╞═══════════════════════════════╡
│ 939100                        │
└───────────────────────────────┘

In [4]:
df.select(
          pl.sum("Data.Temperature.Avg Temp").alias("Sum_Temperature_Avg"),
          pl.max("Data.Temperature.Avg Temp").alias("max_Temperature_Avg"),
          pl.min("Data.Temperature.Avg Temp").alias("min_Temperature_Avg"),
          pl.std("Data.Temperature.Avg Temp").alias("std_Temperature_Avg"),
          pl.median("Data.Temperature.Avg Temp").alias("median_Temperature_Avg"),
          pl.mean("Data.Temperature.Avg Temp").alias("mean_Temperature_Avg"),
          pl.first("Data.Temperature.Avg Temp").alias("first_Temperature_Avg")
)

shape: (1, 7)
┌────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────┐
│ Sum_Temperatur ┆ max_Temperatur ┆ min_Temperatur ┆ std_Temperatur ┆ median_Tempera ┆ mean_Temperatu ┆ first_Temperat │
│ e_Avg          ┆ e_Avg          ┆ e_Avg          ┆ e_Avg          ┆ ture_Avg       ┆ re_Avg         ┆ ure_Avg        │
│ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            │
│ i64            ┆ i64            ┆ i64            ┆ f64            ┆ f64            ┆ f64            ┆ i64            │
╞════════════════╪════════════════╪════════════════╪════════════════╪════════════════╪════════════════╪════════════════╡
│ 939100         ┆ 100            ┆ -27            ┆ 18.798295      ┆ 58.0           ┆ 56.089112      ┆ 39             │
└────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────┘

In [5]:
q = (
     df.lazy()
     .group_by("Station.State")
     .agg(
          pl.mean("Data.Temperature.Avg Temp").alias("Sum_Temp_Country")
     )
)

q.collect()

shape: (53, 2)
┌───────────────┬──────────────────┐
│ Station.State ┆ Sum_Temp_Country │
│ ---           ┆ ---              │
│ str           ┆ f64              │
╞═══════════════╪══════════════════╡
│ Illinois      ┆ 53.377358        │
│ Kentucky      ┆ 58.286792        │
│ Florida       ┆ 73.926101        │
│ Ohio          ┆ 52.665768        │
│ Louisiana     ┆ 69.475096        │
│ …             ┆ …                │
│ Nevada        ┆ 55.628931        │
│ Puerto Rico   ┆ 81.358491        │
│ Idaho         ┆ 51.698113        │
│ Montana       ┆ 45.627787        │
│ Rhode Island  ┆ 53.037736        │
└───────────────┴──────────────────┘