In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max")).head(7)

shape: (7, 3)
┌────────────┬───────────────────────────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  │
│ ---        ┆ ---                       ┆ ---  │
│ str        ┆ i64                       ┆ i64  │
╞════════════╪═══════════════════════════╪══════╡
│ 2016-01-03 ┆ 39                        ┆ null │
│ 2016-01-03 ┆ 39                        ┆ 39   │
│ 2016-01-03 ┆ 46                        ┆ 46   │
│ 2016-01-03 ┆ 45                        ┆ 46   │
│ 2016-01-03 ┆ 34                        ┆ 45   │
│ 2016-01-03 ┆ 38                        ┆ 38   │
│ 2016-01-03 ┆ 30                        ┆ 38   │
└────────────┴───────────────────────────┴──────┘

In [4]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 5).alias("max")).head(7)

shape: (7, 3)
┌────────────┬───────────────────────────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  │
│ ---        ┆ ---                       ┆ ---  │
│ str        ┆ i64                       ┆ i64  │
╞════════════╪═══════════════════════════╪══════╡
│ 2016-01-03 ┆ 39                        ┆ null │
│ 2016-01-03 ┆ 39                        ┆ null │
│ 2016-01-03 ┆ 46                        ┆ null │
│ 2016-01-03 ┆ 45                        ┆ null │
│ 2016-01-03 ┆ 34                        ┆ 46   │
│ 2016-01-03 ┆ 38                        ┆ 46   │
│ 2016-01-03 ┆ 30                        ┆ 46   │
└────────────┴───────────────────────────┴──────┘

In [5]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_min(window_size= 2).alias("min"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_mean(window_size= 2).alias("mean"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_median(window_size= 2).alias("median"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_std(window_size= 2).alias("std"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_sum(window_size= 2).alias("sum"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_var(window_size= 2).alias("var")).head(7)

shape: (7, 9)
┌────────────┬───────────────────────────┬──────┬──────┬───┬────────┬──────────┬──────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  ┆ min  ┆ … ┆ median ┆ std      ┆ sum  ┆ var  │
│ ---        ┆ ---                       ┆ ---  ┆ ---  ┆   ┆ ---    ┆ ---      ┆ ---  ┆ ---  │
│ str        ┆ i64                       ┆ i64  ┆ i64  ┆   ┆ f64    ┆ f64      ┆ i64  ┆ f64  │
╞════════════╪═══════════════════════════╪══════╪══════╪═══╪════════╪══════════╪══════╪══════╡
│ 2016-01-03 ┆ 39                        ┆ null ┆ null ┆ … ┆ null   ┆ null     ┆ null ┆ null │
│ 2016-01-03 ┆ 39                        ┆ 39   ┆ 39   ┆ … ┆ 39.0   ┆ 0.0      ┆ 78   ┆ 0.0  │
│ 2016-01-03 ┆ 46                        ┆ 46   ┆ 39   ┆ … ┆ 42.5   ┆ 4.949747 ┆ 85   ┆ 24.5 │
│ 2016-01-03 ┆ 45                        ┆ 46   ┆ 45   ┆ … ┆ 45.5   ┆ 0.707107 ┆ 91   ┆ 0.5  │
│ 2016-01-03 ┆ 34                        ┆ 45   ┆ 34   ┆ … ┆ 39.5   ┆ 7.778175 ┆ 79   ┆ 60.5 │
│ 2016-01-03 ┆ 38                        ┆ 38   ┆ 34   ┆ … ┆ 36.0   ┆ 2.828427 ┆ 72   ┆ 8.0  │
│ 2016-01-03 ┆ 30                        ┆ 38   ┆ 30   ┆ … ┆ 34.0   ┆ 5.656854 ┆ 68   ┆ 32.0 │
└────────────┴───────────────────────────┴──────┴──────┴───┴────────┴──────────┴──────┴──────┘

In [6]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_min(window_size= 3).alias("min"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_mean(window_size= 4).alias("mean"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_median(window_size= 5).alias("median"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_std(window_size= 3).alias("std"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_sum(window_size= 2).alias("sum"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_var(window_size= 4).alias("var")).head(10)

shape: (10, 9)
┌────────────┬───────────────────────────┬──────┬──────┬───┬────────┬──────────┬──────┬───────────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  ┆ min  ┆ … ┆ median ┆ std      ┆ sum  ┆ var       │
│ ---        ┆ ---                       ┆ ---  ┆ ---  ┆   ┆ ---    ┆ ---      ┆ ---  ┆ ---       │
│ str        ┆ i64                       ┆ i64  ┆ i64  ┆   ┆ f64    ┆ f64      ┆ i64  ┆ f64       │
╞════════════╪═══════════════════════════╪══════╪══════╪═══╪════════╪══════════╪══════╪═══════════╡
│ 2016-01-03 ┆ 39                        ┆ null ┆ null ┆ … ┆ null   ┆ null     ┆ null ┆ null      │
│ 2016-01-03 ┆ 39                        ┆ 39   ┆ null ┆ … ┆ null   ┆ null     ┆ 78   ┆ null      │
│ 2016-01-03 ┆ 46                        ┆ 46   ┆ 39   ┆ … ┆ null   ┆ 4.041452 ┆ 85   ┆ null      │
│ 2016-01-03 ┆ 45                        ┆ 46   ┆ 39   ┆ … ┆ null   ┆ 3.785939 ┆ 91   ┆ 14.25     │
│ 2016-01-03 ┆ 34                        ┆ 45   ┆ 34   ┆ … ┆ 39.0   ┆ 6.658328 ┆ 79   ┆ 31.333333 │
│ 2016-01-03 ┆ 38                        ┆ 38   ┆ 34   ┆ … ┆ 39.0   ┆ 5.567764 ┆ 72   ┆ 32.916667 │
│ 2016-01-03 ┆ 30                        ┆ 38   ┆ 30   ┆ … ┆ 38.0   ┆ 4.0      ┆ 68   ┆ 40.916667 │
│ 2016-01-03 ┆ 22                        ┆ 30   ┆ 22   ┆ … ┆ 34.0   ┆ 8.0      ┆ 52   ┆ 46.666667 │
│ 2016-01-03 ┆ 34                        ┆ 34   ┆ 22   ┆ … ┆ 34.0   ┆ 6.110101 ┆ 56   ┆ 46.666667 │
│ 2016-01-03 ┆ 38                        ┆ 38   ┆ 22   ┆ … ┆ 34.0   ┆ 8.326664 ┆ 72   ┆ 46.666667 │
└────────────┴───────────────────────────┴──────┴──────┴───┴────────┴──────────┴──────┴───────────┘