In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp").sum().over("Station.State")          
).head(7)

shape: (7, 3)
┌───────────────┬──────────────────┬───────────────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp │
│ ---           ┆ ---              ┆ ---                       │
│ str           ┆ str              ┆ i64                       │
╞═══════════════╪══════════════════╪═══════════════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 14104                     │
│ Alabama       ┆ Huntsville, AL   ┆ 14104                     │
│ Alabama       ┆ Mobile, AL       ┆ 14104                     │
│ Alabama       ┆ Montgomery, AL   ┆ 14104                     │
│ Alaska        ┆ Anchorage, AK    ┆ 70750                     │
│ Alaska        ┆ Annette, AK      ┆ 70750                     │
│ Alaska        ┆ Bethel, AK       ┆ 70750                     │
└───────────────┴──────────────────┴───────────────────────────┘

In [4]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").sum().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ i64                       ┆ i64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39                        ┆ 14104           │
│ Alabama       ┆ Huntsville, AL   ┆ 39                        ┆ 14104           │
│ Alabama       ┆ Mobile, AL       ┆ 46                        ┆ 14104           │
│ Alabama       ┆ Montgomery, AL   ┆ 45                        ┆ 14104           │
│ Alaska        ┆ Anchorage, AK    ┆ 34                        ┆ 70750           │
│ Alaska        ┆ Annette, AK      ┆ 38                        ┆ 70750           │
│ Alaska        ┆ Bethel, AK       ┆ 30                        ┆ 70750           │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [5]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").max().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ i64                       ┆ i64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39                        ┆ 86              │
│ Alabama       ┆ Huntsville, AL   ┆ 39                        ┆ 86              │
│ Alabama       ┆ Mobile, AL       ┆ 46                        ┆ 86              │
│ Alabama       ┆ Montgomery, AL   ┆ 45                        ┆ 86              │
│ Alaska        ┆ Anchorage, AK    ┆ 34                        ┆ 69              │
│ Alaska        ┆ Annette, AK      ┆ 38                        ┆ 69              │
│ Alaska        ┆ Bethel, AK       ┆ 30                        ┆ 69              │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [6]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").min().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ i64                       ┆ i64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39                        ┆ 33              │
│ Alabama       ┆ Huntsville, AL   ┆ 39                        ┆ 33              │
│ Alabama       ┆ Mobile, AL       ┆ 46                        ┆ 33              │
│ Alabama       ┆ Montgomery, AL   ┆ 45                        ┆ 33              │
│ Alaska        ┆ Anchorage, AK    ┆ 34                        ┆ -27             │
│ Alaska        ┆ Annette, AK      ┆ 38                        ┆ -27             │
│ Alaska        ┆ Bethel, AK       ┆ 30                        ┆ -27             │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [7]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").mean().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ i64                       ┆ f64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39                        ┆ 66.528302       │
│ Alabama       ┆ Huntsville, AL   ┆ 39                        ┆ 66.528302       │
│ Alabama       ┆ Mobile, AL       ┆ 46                        ┆ 66.528302       │
│ Alabama       ┆ Montgomery, AL   ┆ 45                        ┆ 66.528302       │
│ Alaska        ┆ Anchorage, AK    ┆ 34                        ┆ 41.15765        │
│ Alaska        ┆ Annette, AK      ┆ 38                        ┆ 41.15765        │
│ Alaska        ┆ Bethel, AK       ┆ 30                        ┆ 41.15765        │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘