004-Ingest Inspect Data

In [1]:
import polars as pl

In [2]:
df = pl.read_csv("weather.csv", has_header= True)

In [3]:
df.head(5)

shape: (5, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 46           ┆ 32           ┆ 33           ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 47           ┆ 31           ┆ 32           ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 51           ┆ 41           ┆ 35           ┆ 9.73        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 52           ┆ 38           ┆ 32           ┆ 6.86        │
│ 0.01         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 38           ┆ 29           ┆ 19           ┆ 7.8         │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [4]:
df.tail(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 29           ┆ 4            ┆ 26           ┆ 1.65        │
│ 0.06         ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 31           ┆ 13           ┆ 24           ┆ 18.16       │
│ 0.1          ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 34           ┆ 8            ┆ 23           ┆ 7.51        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [5]:
len(df)

16743

In [6]:
df.shape

(16743, 14)

In [7]:
df.columns

['Data.Precipitation',
 'Date.Full',
 'Date.Month',
 'Date.Week of',
 'Date.Year',
 'Station.City',
 'Station.Code',
 'Station.Location',
 'Station.State',
 'Data.Temperature.Avg Temp',
 'Data.Temperature.Max Temp',
 'Data.Temperature.Min Temp',
 'Data.Wind.Direction',
 'Data.Wind.Speed']

In [8]:
df.dtypes

[Float64,
 String,
 Int64,
 Int64,
 Int64,
 String,
 String,
 String,
 String,
 Int64,
 Int64,
 Int64,
 Int64,
 Float64]

In [9]:
df.describe

<bound method DataFrame.describe of shape: (16_743, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ i64        ┆ i64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ i64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ i64          ┆ i64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 46           ┆ 32           ┆ 33           ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 47           ┆ 31           ┆ 32           ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 51           ┆ 41           ┆ 35           ┆ 9.73        │
│ 0.0          ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 52           ┆ 38           ┆ 32           ┆ 6.86        │
│ 0.01         ┆ 2016-01-03 ┆ 1          ┆ 3            ┆ … ┆ 38           ┆ 29           ┆ 19           ┆ 7.8         │
│ …            ┆ …          ┆ …          ┆ …            ┆ … ┆ …            ┆ …            ┆ …            ┆ …           │
│ 0.08         ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 32           ┆ 15           ┆ 23           ┆ 19.98       │
│ 0.0          ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 42           ┆ 21           ┆ 26           ┆ 15.16       │
│ 0.0          ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 29           ┆ 4            ┆ 26           ┆ 1.65        │
│ 0.06         ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 31           ┆ 13           ┆ 24           ┆ 18.16       │
│ 0.1          ┆ 2017-01-01 ┆ 1          ┆ 1            ┆ … ┆ 34           ┆ 8            ┆ 23           ┆ 7.51        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘>

In [10]:
df.describe()

shape: (9, 15)
┌────────────┬───────────────┬────────────┬────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ statistic  ┆ Data.Precipit ┆ Date.Full  ┆ Date.Month ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.Sp │
│ ---        ┆ ation         ┆ ---        ┆ ---        ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ eed          │
│ str        ┆ ---           ┆ str        ┆ f64        ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---          │
│            ┆ f64           ┆            ┆            ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64          │
│            ┆               ┆            ┆            ┆   ┆ f64          ┆ f64          ┆              ┆              │
╞════════════╪═══════════════╪════════════╪════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ count      ┆ 16743.0       ┆ 16743      ┆ 16743.0    ┆ … ┆ 16743.0      ┆ 16743.0      ┆ 16743.0      ┆ 16743.0      │
│ null_count ┆ 0.0           ┆ 0          ┆ 0.0        ┆ … ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 0.0          │
│ mean       ┆ 0.57909       ┆ null       ┆ 6.343128   ┆ … ┆ 66.042406    ┆ 45.642716    ┆ 18.791316    ┆ 6.32982      │
│ std        ┆ 0.988057      ┆ null       ┆ 3.490723   ┆ … ┆ 19.787954    ┆ 18.559263    ┆ 6.461527     ┆ 3.494785     │
│ min        ┆ 0.0           ┆ 2016-01-03 ┆ 1.0        ┆ … ┆ -19.0        ┆ -35.0        ┆ 0.0          ┆ 0.0          │
│ 25%        ┆ 0.0           ┆ null       ┆ 3.0        ┆ … ┆ 53.0         ┆ 33.0         ┆ 15.0         ┆ 4.04         │
│ 50%        ┆ 0.19          ┆ null       ┆ 6.0        ┆ … ┆ 68.0         ┆ 47.0         ┆ 19.0         ┆ 5.94         │
│ 75%        ┆ 0.75          ┆ null       ┆ 9.0        ┆ … ┆ 82.0         ┆ 60.0         ┆ 23.0         ┆ 8.08         │
│ max        ┆ 20.89         ┆ 2017-01-01 ┆ 12.0       ┆ … ┆ 111.0        ┆ 88.0         ┆ 36.0         ┆ 61.1         │
└────────────┴───────────────┴────────────┴────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

005-Define a Custom Schema for your data

In [11]:
custom_schema = {"Data.Precipitation": pl.Float64,
                 "Date.Full": pl.Utf8,
                 "Date.Month": pl.Float64,
                 "Date.Week of": pl.Float64,
                 "Date.Year": pl.Float64,
                 "Station.City": pl.Utf8,
                 "Station.Code": pl.Utf8,
                 "Station.Location": pl.Utf8,
                 "Station.State": pl.Utf8,
                 "Data.Temperature.Avg Temp": pl.Float64,
                 "Data.Temperature.Max Temp": pl.Float64,
                 "Data.Temperature.Min Temp": pl.Float64,
                 "Data.Wind.Direction": pl.Float64,
                 "Data.Wind.Speed": pl.Float64}

In [12]:
df = pl.read_csv("weather.csv", has_header= True, dtypes= custom_schema)

In [13]:
df.head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [14]:
df.tail(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 29.0         ┆ 4.0          ┆ 26.0         ┆ 1.65        │
│ 0.06         ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 31.0         ┆ 13.0         ┆ 24.0         ┆ 18.16       │
│ 0.1          ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 34.0         ┆ 8.0          ┆ 23.0         ┆ 7.51        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

006-Handle Null Values in our Data

In [15]:
df_no_null = df.filter(df["Date.Full"].is_not_null())
len(df_no_null)

16743

In [16]:
df_no_null = df.filter( (df["Date.Full"].is_not_null()) & df["Station.State"].is_not_null() )
len(df_no_null)

16743

In [17]:
df_no_null = df.filter( (df["Date.Full"].is_not_null()) | df["Station.State"].is_not_null() )
len(df_no_null)

16743

In [18]:
df_no_null_2 = df.drop_nulls(subset= ["Date.Full", "Station.State", "Station.City", "Station.Code"])
df_no_null_2.head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [19]:
len(df_no_null_2)

16743

In [20]:
df.with_columns(pl.col("Station.City").fill_null(pl.lit("NO City"))).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [21]:
df.with_columns(pl.col("Data.Temperature.Avg Temp").fill_null(pl.median("Data.Temperature.Avg Temp"))).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [22]:
df.fill_nan(750)

shape: (16_743, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 52.0         ┆ 38.0         ┆ 32.0         ┆ 6.86        │
│ 0.01         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0         ┆ 29.0         ┆ 19.0         ┆ 7.8         │
│ …            ┆ …          ┆ …          ┆ …            ┆ … ┆ …            ┆ …            ┆ …            ┆ …           │
│ 0.08         ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 32.0         ┆ 15.0         ┆ 23.0         ┆ 19.98       │
│ 0.0          ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 42.0         ┆ 21.0         ┆ 26.0         ┆ 15.16       │
│ 0.0          ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 29.0         ┆ 4.0          ┆ 26.0         ┆ 1.65        │
│ 0.06         ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 31.0         ┆ 13.0         ┆ 24.0         ┆ 18.16       │
│ 0.1          ┆ 2017-01-01 ┆ 1.0        ┆ 1.0          ┆ … ┆ 34.0         ┆ 8.0          ┆ 23.0         ┆ 7.51        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

007-Select Specific Columns

In [23]:
df.select(pl.col("*")).head()

shape: (5, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 52.0         ┆ 38.0         ┆ 32.0         ┆ 6.86        │
│ 0.01         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0         ┆ 29.0         ┆ 19.0         ┆ 7.8         │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [24]:
df.select(pl.col("*").exclude("Data.Precipitation", "Station.Code")).head(3)

shape: (3, 12)
┌────────────┬────────────┬──────────────┬───────────┬───┬───────────────┬───────────────┬──────────────┬──────────────┐
│ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ Date.Year ┆ … ┆ Data.Temperat ┆ Data.Temperat ┆ Data.Wind.Di ┆ Data.Wind.Sp │
│ ---        ┆ ---        ┆ ---          ┆ ---       ┆   ┆ ure.Max Temp  ┆ ure.Min Temp  ┆ rection      ┆ eed          │
│ str        ┆ f64        ┆ f64          ┆ f64       ┆   ┆ ---           ┆ ---           ┆ ---          ┆ ---          │
│            ┆            ┆              ┆           ┆   ┆ f64           ┆ f64           ┆ f64          ┆ f64          │
╞════════════╪════════════╪══════════════╪═══════════╪═══╪═══════════════╪═══════════════╪══════════════╪══════════════╡
│ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ 2016.0    ┆ … ┆ 46.0          ┆ 32.0          ┆ 33.0         ┆ 4.33         │
│ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ 2016.0    ┆ … ┆ 47.0          ┆ 31.0          ┆ 32.0         ┆ 3.86         │
│ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ 2016.0    ┆ … ┆ 51.0          ┆ 41.0          ┆ 35.0         ┆ 9.73         │
└────────────┴────────────┴──────────────┴───────────┴───┴───────────────┴───────────────┴──────────────┴──────────────┘

In [25]:
df.select(pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"), pl.col("Data.Wind.Speed")).head()

shape: (5, 3)
┌──────────────┬───────────────────────────┬─────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ Data.Wind.Speed │
│ ---          ┆ ---                       ┆ ---             │
│ str          ┆ f64                       ┆ f64             │
╞══════════════╪═══════════════════════════╪═════════════════╡
│ Birmingham   ┆ 39.0                      ┆ 4.33            │
│ Huntsville   ┆ 39.0                      ┆ 3.86            │
│ Mobile       ┆ 46.0                      ┆ 9.73            │
│ Montgomery   ┆ 45.0                      ┆ 6.86            │
│ Anchorage    ┆ 34.0                      ┆ 7.8             │
└──────────────┴───────────────────────────┴─────────────────┘

In [26]:
df.select(pl.col(["Station.City", "Data.Temperature.Avg Temp", "Data.Wind.Speed"])).head()

shape: (5, 3)
┌──────────────┬───────────────────────────┬─────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ Data.Wind.Speed │
│ ---          ┆ ---                       ┆ ---             │
│ str          ┆ f64                       ┆ f64             │
╞══════════════╪═══════════════════════════╪═════════════════╡
│ Birmingham   ┆ 39.0                      ┆ 4.33            │
│ Huntsville   ┆ 39.0                      ┆ 3.86            │
│ Mobile       ┆ 46.0                      ┆ 9.73            │
│ Montgomery   ┆ 45.0                      ┆ 6.86            │
│ Anchorage    ┆ 34.0                      ┆ 7.8             │
└──────────────┴───────────────────────────┴─────────────────┘

In [27]:
df.select(pl.all()).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 46.0         ┆ 32.0         ┆ 33.0         ┆ 4.33        │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 47.0         ┆ 31.0         ┆ 32.0         ┆ 3.86        │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 51.0         ┆ 41.0         ┆ 35.0         ┆ 9.73        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

008-Filtering our Dataframes

In [28]:
df.filter(pl.col("Station.State") == "Alaska").head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.01         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0         ┆ 29.0         ┆ 19.0         ┆ 7.8         │
│ 0.09         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 44.0         ┆ 31.0         ┆ 9.0          ┆ 8.7         │
│ 0.05         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 36.0         ┆ 24.0         ┆ 9.0          ┆ 16.46       │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [29]:
df.filter( (pl.col("Station.State") == "Alaska") & (pl.col("Station.City") == "Annette") ).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.09         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 44.0         ┆ 31.0         ┆ 9.0          ┆ 8.7         │
│ 0.48         ┆ 2016-01-10 ┆ 1.0        ┆ 10.0         ┆ … ┆ 43.0         ┆ 27.0         ┆ 24.0         ┆ 5.42        │
│ 2.59         ┆ 2016-01-17 ┆ 1.0        ┆ 17.0         ┆ … ┆ 46.0         ┆ 38.0         ┆ 10.0         ┆ 8.68        │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [30]:
df.filter( (pl.col("Station.State") == "Alaska") | (pl.col("Station.City") == "Annette") ).head(3)

shape: (3, 14)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.S │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Max     ┆ ture.Min     ┆ rection      ┆ peed        │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ Temp         ┆ ---          ┆ ---         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ ---          ┆ f64          ┆ f64         │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆ f64          ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.01         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0         ┆ 29.0         ┆ 19.0         ┆ 7.8         │
│ 0.09         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 44.0         ┆ 31.0         ┆ 9.0          ┆ 8.7         │
│ 0.05         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 36.0         ┆ 24.0         ┆ 9.0          ┆ 16.46       │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

009-Create Calculated Columns

In [31]:
df.select(pl.col("Data.Wind.Direction"), (pl.col("Data.Wind.Direction") * 5).alias("calculate_Data_Wind_Direction")).head(7)

shape: (7, 2)
┌─────────────────────┬───────────────────────────────┐
│ Data.Wind.Direction ┆ calculate_Data_Wind_Direction │
│ ---                 ┆ ---                           │
│ f64                 ┆ f64                           │
╞═════════════════════╪═══════════════════════════════╡
│ 33.0                ┆ 165.0                         │
│ 32.0                ┆ 160.0                         │
│ 35.0                ┆ 175.0                         │
│ 32.0                ┆ 160.0                         │
│ 19.0                ┆ 95.0                          │
│ 9.0                 ┆ 45.0                          │
│ 9.0                 ┆ 45.0                          │
└─────────────────────┴───────────────────────────────┘

In [32]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") * 7).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 273.0                             │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 273.0                             │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 322.0                             │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 315.0                             │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 238.0                             │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [33]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 13.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 13.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 15.333333                         │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 15.0                              │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 11.333333                         │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [34]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3.25).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 12.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 12.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 14.153846                         │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 13.846154                         │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 10.461538                         │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [35]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3.25).cast(pl.Float64).round().alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 12.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 12.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 14.0                              │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 14.0                              │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 10.0                              │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [36]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3.25).cast(pl.Float64).round(1).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 12.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 12.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 14.2                              │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 13.8                              │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 10.5                              │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [37]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3.25).cast(pl.Float64).round(2).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 12.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 12.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 14.15                             │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 13.85                             │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 10.46                             │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

In [38]:
df.select(pl.col(["Data.Wind.Direction", "Data.Temperature.Avg Temp"]),
         (pl.col("Data.Wind.Direction") * 5).alias("Calculate_Data_Wind_Direction"),
         (pl.col("Data.Temperature.Avg Temp") / 3.25).cast(pl.Float64).round(3).alias("Calculate_Data_Temperature_Avg Temp")).head(5)

shape: (5, 4)
┌─────────────────────┬───────────────────────────┬───────────────────────────────┬───────────────────────────────────┐
│ Data.Wind.Direction ┆ Data.Temperature.Avg Temp ┆ Calculate_Data_Wind_Direction ┆ Calculate_Data_Temperature_Avg T… │
│ ---                 ┆ ---                       ┆ ---                           ┆ ---                               │
│ f64                 ┆ f64                       ┆ f64                           ┆ f64                               │
╞═════════════════════╪═══════════════════════════╪═══════════════════════════════╪═══════════════════════════════════╡
│ 33.0                ┆ 39.0                      ┆ 165.0                         ┆ 12.0                              │
│ 32.0                ┆ 39.0                      ┆ 160.0                         ┆ 12.0                              │
│ 35.0                ┆ 46.0                      ┆ 175.0                         ┆ 14.154                            │
│ 32.0                ┆ 45.0                      ┆ 160.0                         ┆ 13.846                            │
│ 19.0                ┆ 34.0                      ┆ 95.0                          ┆ 10.462                            │
└─────────────────────┴───────────────────────────┴───────────────────────────────┴───────────────────────────────────┘

010-Apply Conditional Logic WHEN CASE Statement

In [39]:
df.select(
          pl.col("Data.Temperature.Avg Temp"),
          pl.when(pl.col("Data.Temperature.Avg Temp") > 40)
            .then(pl.lit("Hot"))
            .otherwise(pl.lit("Warm"))
          .alias("Temperature")
).head(5)

shape: (5, 2)
┌───────────────────────────┬─────────────┐
│ Data.Temperature.Avg Temp ┆ Temperature │
│ ---                       ┆ ---         │
│ f64                       ┆ str         │
╞═══════════════════════════╪═════════════╡
│ 39.0                      ┆ Warm        │
│ 39.0                      ┆ Warm        │
│ 46.0                      ┆ Hot         │
│ 45.0                      ┆ Hot         │
│ 34.0                      ┆ Warm        │
└───────────────────────────┴─────────────┘

011-Apply Conditional Logic WHEN CASE Statement 2

In [40]:
df.select(
          pl.col("Station.State"),
          pl.when(pl.col("Station.State") == "Alaska")
            .then(pl.lit(True))
            .otherwise(pl.lit(False))
          .alias("Is_It_Alaska")
).head(5)

shape: (5, 2)
┌───────────────┬──────────────┐
│ Station.State ┆ Is_It_Alaska │
│ ---           ┆ ---          │
│ str           ┆ bool         │
╞═══════════════╪══════════════╡
│ Alabama       ┆ false        │
│ Alabama       ┆ false        │
│ Alabama       ┆ false        │
│ Alabama       ┆ false        │
│ Alaska        ┆ true         │
└───────────────┴──────────────┘

In [41]:
countries = ["Alaska", "Wyoming"]

df.select(
          pl.col("Station.State"),
          pl.when(pl.col("Station.State").is_in(countries))
            .then(pl.lit(True))
            .otherwise(pl.lit(False))
          .alias("Is_It_Countries")
).head(5)

shape: (5, 2)
┌───────────────┬─────────────────┐
│ Station.State ┆ Is_It_Countries │
│ ---           ┆ ---             │
│ str           ┆ bool            │
╞═══════════════╪═════════════════╡
│ Alabama       ┆ false           │
│ Alabama       ┆ false           │
│ Alabama       ┆ false           │
│ Alabama       ┆ false           │
│ Alaska        ┆ true            │
└───────────────┴─────────────────┘

012-Apply Conditional Logic WHEN CASE Statement 3

In [42]:
city = ["Montgomery", "Birmingham"]

df.select(
          pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"),
          pl.when( (pl.col("Station.City").is_in(city)) & (pl.col("Data.Temperature.Avg Temp") > 35) )
            .then(pl.lit(1))
            .otherwise(pl.lit(0))
          .alias("City & Temperature")
).head(6)

shape: (6, 3)
┌──────────────┬───────────────────────────┬────────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ City & Temperature │
│ ---          ┆ ---                       ┆ ---                │
│ str          ┆ f64                       ┆ i32                │
╞══════════════╪═══════════════════════════╪════════════════════╡
│ Birmingham   ┆ 39.0                      ┆ 1                  │
│ Huntsville   ┆ 39.0                      ┆ 0                  │
│ Mobile       ┆ 46.0                      ┆ 0                  │
│ Montgomery   ┆ 45.0                      ┆ 1                  │
│ Anchorage    ┆ 34.0                      ┆ 0                  │
│ Annette      ┆ 38.0                      ┆ 0                  │
└──────────────┴───────────────────────────┴────────────────────┘

In [43]:
city = ["Montgomery", "Birmingham"]

df.select(
          pl.col("Station.City"), pl.col("Data.Temperature.Avg Temp"),
          pl.when( (pl.col("Station.City").is_in(city)) | (pl.col("Data.Temperature.Avg Temp") > 35) )
            .then(pl.lit(1))
            .otherwise(pl.lit(0))
          .alias("City & Temperature")
).head(6)

shape: (6, 3)
┌──────────────┬───────────────────────────┬────────────────────┐
│ Station.City ┆ Data.Temperature.Avg Temp ┆ City & Temperature │
│ ---          ┆ ---                       ┆ ---                │
│ str          ┆ f64                       ┆ i32                │
╞══════════════╪═══════════════════════════╪════════════════════╡
│ Birmingham   ┆ 39.0                      ┆ 1                  │
│ Huntsville   ┆ 39.0                      ┆ 1                  │
│ Mobile       ┆ 46.0                      ┆ 1                  │
│ Montgomery   ┆ 45.0                      ┆ 1                  │
│ Anchorage    ┆ 34.0                      ┆ 0                  │
│ Annette      ┆ 38.0                      ┆ 1                  │
└──────────────┴───────────────────────────┴────────────────────┘

013-Apply Conditional Logic WHEN CASE Statement 4

In [44]:
df.select(
          pl.col("Data.Temperature.Avg Temp"), pl.col("Data.Wind.Direction"),
          pl.when( (pl.col("Data.Temperature.Avg Temp") > 40) & (pl.col("Data.Wind.Speed") < 10) )
            .then(pl.lit("Hot"))\
            .when((pl.col("Data.Temperature.Avg Temp") > 30) & (pl.col("Data.Wind.Speed") < 10) )
            .then(pl.lit("Warm"))\
            .otherwise(pl.lit("Mild"))\
          .alias("Climate")
).head(7)

shape: (7, 3)
┌───────────────────────────┬─────────────────────┬─────────┐
│ Data.Temperature.Avg Temp ┆ Data.Wind.Direction ┆ Climate │
│ ---                       ┆ ---                 ┆ ---     │
│ f64                       ┆ f64                 ┆ str     │
╞═══════════════════════════╪═════════════════════╪═════════╡
│ 39.0                      ┆ 33.0                ┆ Warm    │
│ 39.0                      ┆ 32.0                ┆ Warm    │
│ 46.0                      ┆ 35.0                ┆ Hot     │
│ 45.0                      ┆ 32.0                ┆ Hot     │
│ 34.0                      ┆ 19.0                ┆ Warm    │
│ 38.0                      ┆ 9.0                 ┆ Warm    │
│ 30.0                      ┆ 9.0                 ┆ Mild    │
└───────────────────────────┴─────────────────────┴─────────┘

014-Creating a User Defined Function

In [45]:
def Calculate_Temperature_Sum(row):
    try:
        temp_max = int(row[10])
        temp_min = int(row[11])
        
        return temp_max + temp_min

    except:
        return 1

In [46]:
df.with_columns(df.apply(Calculate_Temperature_Sum, return_dtype= pl.Int64)).head(3)

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\1859488921.py:1: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df.with_columns(df.apply(Calculate_Temperature_Sum, return_dtype= pl.Int64)).head(3)

shape: (3, 15)
┌────────────────┬────────────┬────────────┬──────────────┬───┬────────────────┬────────────────┬────────────────┬─────┐
│ Data.Precipita ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Temperatu ┆ Data.Wind.Dire ┆ Data.Wind.Spee ┆ map │
│ tion           ┆ ---        ┆ ---        ┆ ---          ┆   ┆ re.Min Temp    ┆ ction          ┆ d              ┆ --- │
│ ---            ┆ str        ┆ f64        ┆ f64          ┆   ┆ ---            ┆ ---            ┆ ---            ┆ i64 │
│ f64            ┆            ┆            ┆              ┆   ┆ f64            ┆ f64            ┆ f64            ┆     │
╞════════════════╪════════════╪════════════╪══════════════╪═══╪════════════════╪════════════════╪════════════════╪═════╡
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 32.0           ┆ 33.0           ┆ 4.33           ┆ 78  │
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 31.0           ┆ 32.0           ┆ 3.86           ┆ 78  │
│ 0.16           ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 41.0           ┆ 35.0           ┆ 9.73           ┆ 92  │
└────────────────┴────────────┴────────────┴──────────────┴───┴────────────────┴────────────────┴────────────────┴─────┘

In [47]:
df.with_columns(df.apply(Calculate_Temperature_Sum, return_dtype= pl.Int64)).rename({"map": "Sum_of_temp"}).head(3)

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\2335937842.py:1: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df.with_columns(df.apply(Calculate_Temperature_Sum, return_dtype= pl.Int64)).rename({"map": "Sum_of_temp"}).head(3)

shape: (3, 15)
┌──────────────┬────────────┬────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Data.Precipi ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Tempera ┆ Data.Wind.Di ┆ Data.Wind.Sp ┆ Sum_of_temp │
│ tation       ┆ ---        ┆ ---        ┆ ---          ┆   ┆ ture.Min     ┆ rection      ┆ eed          ┆ ---         │
│ ---          ┆ str        ┆ f64        ┆ f64          ┆   ┆ Temp         ┆ ---          ┆ ---          ┆ i64         │
│ f64          ┆            ┆            ┆              ┆   ┆ ---          ┆ f64          ┆ f64          ┆             │
│              ┆            ┆            ┆              ┆   ┆ f64          ┆              ┆              ┆             │
╞══════════════╪════════════╪════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 32.0         ┆ 33.0         ┆ 4.33         ┆ 78          │
│ 0.0          ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 31.0         ┆ 32.0         ┆ 3.86         ┆ 78          │
│ 0.16         ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 41.0         ┆ 35.0         ┆ 9.73         ┆ 92          │
└──────────────┴────────────┴────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

015-Creating a User Defined Function 2

In [48]:
def Max_Temp_F(row):
    try:
        temp = row[10]
        max_temp = temp * 1.8 + 32

        return nax_temp

    except:
        return 1

In [49]:
df.with_columns(df.apply(Max_Temp_F, return_dtype= pl.Float64)).head(5)

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\2044250735.py:1: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df.with_columns(df.apply(Max_Temp_F, return_dtype= pl.Float64)).head(5)

shape: (5, 15)
┌────────────────┬────────────┬────────────┬──────────────┬───┬────────────────┬────────────────┬────────────────┬─────┐
│ Data.Precipita ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Temperatu ┆ Data.Wind.Dire ┆ Data.Wind.Spee ┆ map │
│ tion           ┆ ---        ┆ ---        ┆ ---          ┆   ┆ re.Min Temp    ┆ ction          ┆ d              ┆ --- │
│ ---            ┆ str        ┆ f64        ┆ f64          ┆   ┆ ---            ┆ ---            ┆ ---            ┆ f64 │
│ f64            ┆            ┆            ┆              ┆   ┆ f64            ┆ f64            ┆ f64            ┆     │
╞════════════════╪════════════╪════════════╪══════════════╪═══╪════════════════╪════════════════╪════════════════╪═════╡
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 32.0           ┆ 33.0           ┆ 4.33           ┆ 1.0 │
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 31.0           ┆ 32.0           ┆ 3.86           ┆ 1.0 │
│ 0.16           ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 41.0           ┆ 35.0           ┆ 9.73           ┆ 1.0 │
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0           ┆ 32.0           ┆ 6.86           ┆ 1.0 │
│ 0.01           ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 29.0           ┆ 19.0           ┆ 7.8            ┆ 1.0 │
└────────────────┴────────────┴────────────┴──────────────┴───┴────────────────┴────────────────┴────────────────┴─────┘

In [50]:
df.with_columns(df.apply(Max_Temp_F, return_dtype= pl.Float64)).rename({"map": "Faren"}).head(5)

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\4160249736.py:1: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_rows`.
  df.with_columns(df.apply(Max_Temp_F, return_dtype= pl.Float64)).rename({"map": "Faren"}).head(5)

shape: (5, 15)
┌────────────────┬────────────┬────────────┬──────────────┬───┬────────────────┬───────────────┬───────────────┬───────┐
│ Data.Precipita ┆ Date.Full  ┆ Date.Month ┆ Date.Week of ┆ … ┆ Data.Temperatu ┆ Data.Wind.Dir ┆ Data.Wind.Spe ┆ Faren │
│ tion           ┆ ---        ┆ ---        ┆ ---          ┆   ┆ re.Min Temp    ┆ ection        ┆ ed            ┆ ---   │
│ ---            ┆ str        ┆ f64        ┆ f64          ┆   ┆ ---            ┆ ---           ┆ ---           ┆ f64   │
│ f64            ┆            ┆            ┆              ┆   ┆ f64            ┆ f64           ┆ f64           ┆       │
╞════════════════╪════════════╪════════════╪══════════════╪═══╪════════════════╪═══════════════╪═══════════════╪═══════╡
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 32.0           ┆ 33.0          ┆ 4.33          ┆ 1.0   │
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 31.0           ┆ 32.0          ┆ 3.86          ┆ 1.0   │
│ 0.16           ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 41.0           ┆ 35.0          ┆ 9.73          ┆ 1.0   │
│ 0.0            ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 38.0           ┆ 32.0          ┆ 6.86          ┆ 1.0   │
│ 0.01           ┆ 2016-01-03 ┆ 1.0        ┆ 3.0          ┆ … ┆ 29.0           ┆ 19.0          ┆ 7.8           ┆ 1.0   │
└────────────────┴────────────┴────────────┴──────────────┴───┴────────────────┴───────────────┴───────────────┴───────┘

016-Data Aggregation 1

In [51]:
df.select(
          pl.sum("Data.Temperature.Avg Temp").alias("Sum_Data_Temperature_Avg Temp")
)

shape: (1, 1)
┌───────────────────────────────┐
│ Sum_Data_Temperature_Avg Temp │
│ ---                           │
│ f64                           │
╞═══════════════════════════════╡
│ 939100.0                      │
└───────────────────────────────┘

In [52]:
df.select(
          pl.sum("Data.Temperature.Avg Temp").alias("Sum_Temperature_Avg"),
          pl.max("Data.Temperature.Avg Temp").alias("max_Temperature_Avg"),
          pl.min("Data.Temperature.Avg Temp").alias("min_Temperature_Avg"),
          pl.std("Data.Temperature.Avg Temp").alias("std_Temperature_Avg"),
          pl.median("Data.Temperature.Avg Temp").alias("median_Temperature_Avg"),
          pl.mean("Data.Temperature.Avg Temp").alias("mean_Temperature_Avg"),
          pl.first("Data.Temperature.Avg Temp").alias("first_Temperature_Avg")
)

shape: (1, 7)
┌────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────┐
│ Sum_Temperatur ┆ max_Temperatur ┆ min_Temperatur ┆ std_Temperatur ┆ median_Tempera ┆ mean_Temperatu ┆ first_Temperat │
│ e_Avg          ┆ e_Avg          ┆ e_Avg          ┆ e_Avg          ┆ ture_Avg       ┆ re_Avg         ┆ ure_Avg        │
│ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            ┆ ---            │
│ f64            ┆ f64            ┆ f64            ┆ f64            ┆ f64            ┆ f64            ┆ f64            │
╞════════════════╪════════════════╪════════════════╪════════════════╪════════════════╪════════════════╪════════════════╡
│ 939100.0       ┆ 100.0          ┆ -27.0          ┆ 18.798295      ┆ 58.0           ┆ 56.089112      ┆ 39.0           │
└────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────┴────────────────┘

In [53]:
q = (
     df.lazy()
     .group_by("Station.State")
     .agg(
          pl.mean("Data.Temperature.Avg Temp").alias("Sum_Temp_Country")
     )
)

q.collect()

shape: (53, 2)
┌───────────────┬──────────────────┐
│ Station.State ┆ Sum_Temp_Country │
│ ---           ┆ ---              │
│ str           ┆ f64              │
╞═══════════════╪══════════════════╡
│ Nevada        ┆ 55.628931        │
│ Pennsylvania  ┆ 53.919137        │
│ Washington    ┆ 51.366577        │
│ Maine         ┆ 45.415094        │
│ Puerto Rico   ┆ 81.358491        │
│ …             ┆ …                │
│ DE            ┆ 56.056604        │
│ Nebraska      ┆ 51.634434        │
│ New Mexico    ┆ 58.622642        │
│ Massachusetts ┆ 53.261438        │
│ California    ┆ 62.363363        │
└───────────────┴──────────────────┘

017-Data Aggregation 2

In [54]:
q = (
     df.lazy()
     .group_by("Station.City")
     .agg(
          pl.count().alias("row_count"),
          pl.max("Data.Temperature.Max Temp"),
          pl.col("Station.State"),
          pl.first("Station.Location")
     )
)

q.collect()

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\2722864873.py:5: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("row_count"),

shape: (307, 5)
┌───────────────────────┬───────────┬──────────────────────┬─────────────────────────────┬─────────────────────────────┐
│ Station.City          ┆ row_count ┆ Data.Temperature.Max ┆ Station.State               ┆ Station.Location            │
│ ---                   ┆ ---       ┆ Temp                 ┆ ---                         ┆ ---                         │
│ str                   ┆ u32       ┆ ---                  ┆ list[str]                   ┆ str                         │
│                       ┆           ┆ f64                  ┆                             ┆                             │
╞═══════════════════════╪═══════════╪══════════════════════╪═════════════════════════════╪═════════════════════════════╡
│ New York              ┆ 53        ┆ 93.0                 ┆ ["New York", "New York", …  ┆ New York, NY                │
│                       ┆           ┆                      ┆ "New …                      ┆                             │
│ Salt Lake City        ┆ 53        ┆ 101.0                ┆ ["Utah", "Utah", … "Utah"]  ┆ Salt Lake City, UT          │
│ Sioux Falls           ┆ 53        ┆ 89.0                 ┆ ["South Dakota", "South     ┆ Sioux Falls, SD             │
│                       ┆           ┆                      ┆ Dakota",…                   ┆                             │
│ Duluth                ┆ 53        ┆ 83.0                 ┆ ["Minnesota", "Minnesota",  ┆ Duluth, MN                  │
│                       ┆           ┆                      ┆ … "Mi…                      ┆                             │
│ Santa Barbara         ┆ 53        ┆ 84.0                 ┆ ["California",              ┆ Santa Barbara, CA           │
│                       ┆           ┆                      ┆ "California", … "…          ┆                             │
│ …                     ┆ …         ┆ …                    ┆ …                           ┆ …                           │
│ Wilkes-Barre/Scranton ┆ 53        ┆ 90.0                 ┆ ["Pennsylvania",            ┆ Wilkes-Barre/Scranton, PA   │
│                       ┆           ┆                      ┆ "Pennsylvania",…            ┆                             │
│ Craig                 ┆ 53        ┆ 93.0                 ┆ ["Colorado", "Colorado", …  ┆ Craig, CO                   │
│                       ┆           ┆                      ┆ "Colo…                      ┆                             │
│ Athens                ┆ 53        ┆ 97.0                 ┆ ["Georgia", "Georgia", …    ┆ Athens, GA                  │
│                       ┆           ┆                      ┆ "Georgi…                    ┆                             │
│ Austin/Bergstrom      ┆ 53        ┆ 99.0                 ┆ ["Texas", "Texas", …        ┆ Austin/Bergstrom, TX        │
│                       ┆           ┆                      ┆ "Texas"]                    ┆                             │
│ Vero Beach            ┆ 53        ┆ 92.0                 ┆ ["Florida", "Florida", …    ┆ Vero Beach, FL              │
│                       ┆           ┆                      ┆ "Florid…                    ┆                             │
└───────────────────────┴───────────┴──────────────────────┴─────────────────────────────┴─────────────────────────────┘

In [55]:
q = (
     df.lazy()
     .group_by("Station.City")
     .agg(
          pl.count().alias("row_count"),
          pl.max("Data.Temperature.Max Temp"),
          pl.col("Station.State"),
          pl.first("Station.Location")
     )
    .sort("row_count", descending= True)
)

q.collect()

C:\Users\Hediye\AppData\Local\Temp\ipykernel_6380\526533424.py:5: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("row_count"),

shape: (307, 5)
┌────────────────┬───────────┬───────────────────────────┬───────────────────────────────────┬────────────────────┐
│ Station.City   ┆ row_count ┆ Data.Temperature.Max Temp ┆ Station.State                     ┆ Station.Location   │
│ ---            ┆ ---       ┆ ---                       ┆ ---                               ┆ ---                │
│ str            ┆ u32       ┆ f64                       ┆ list[str]                         ┆ str                │
╞════════════════╪═══════════╪═══════════════════════════╪═══════════════════════════════════╪════════════════════╡
│ Columbia       ┆ 106       ┆ 101.0                     ┆ ["Missouri", "South Carolina", …… ┆ Columbia, MO       │
│ Rochester      ┆ 106       ┆ 91.0                      ┆ ["Minnesota", "New York", … "New… ┆ Rochester, MN      │
│ Wilmington     ┆ 106       ┆ 95.0                      ┆ ["Delaware", "North Carolina", …… ┆ Wilmington, DE     │
│ Concord        ┆ 106       ┆ 97.0                      ┆ ["California", "New Hampshire", … ┆ Concord, CA        │
│ Norfolk        ┆ 106       ┆ 93.0                      ┆ ["Nebraska", "Virginia", … "Virg… ┆ Norfolk, NE        │
│ …              ┆ …         ┆ …                         ┆ …                                 ┆ …                  │
│ Milton         ┆ 47        ┆ 87.0                      ┆ ["Massachusetts", "Massachusetts… ┆ Milton, MA         │
│ Mt. Washington ┆ 47        ┆ 60.0                      ┆ ["New Hampshire", "New Hampshire… ┆ Mt. Washington, NH │
│ China Lake     ┆ 45        ┆ 111.0                     ┆ ["California", "California", … "… ┆ China Lake, CA     │
│ Wrangell       ┆ 30        ┆ 60.0                      ┆ ["Alaska", "Alaska", … "Alaska"]  ┆ Wrangell, AK       │
│ Unalakleet     ┆ 5         ┆ 60.0                      ┆ ["Alaska", "Alaska", … "Alaska"]  ┆ Unalakleet, AK     │
└────────────────┴───────────┴───────────────────────────┴───────────────────────────────────┴────────────────────┘

018-Rolling Windowed Aggregation

In [56]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max")).head(7)

shape: (7, 3)
┌────────────┬───────────────────────────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  │
│ ---        ┆ ---                       ┆ ---  │
│ str        ┆ f64                       ┆ f64  │
╞════════════╪═══════════════════════════╪══════╡
│ 2016-01-03 ┆ 39.0                      ┆ null │
│ 2016-01-03 ┆ 39.0                      ┆ 39.0 │
│ 2016-01-03 ┆ 46.0                      ┆ 46.0 │
│ 2016-01-03 ┆ 45.0                      ┆ 46.0 │
│ 2016-01-03 ┆ 34.0                      ┆ 45.0 │
│ 2016-01-03 ┆ 38.0                      ┆ 38.0 │
│ 2016-01-03 ┆ 30.0                      ┆ 38.0 │
└────────────┴───────────────────────────┴──────┘

In [57]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 5).alias("max")).head(7)

shape: (7, 3)
┌────────────┬───────────────────────────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  │
│ ---        ┆ ---                       ┆ ---  │
│ str        ┆ f64                       ┆ f64  │
╞════════════╪═══════════════════════════╪══════╡
│ 2016-01-03 ┆ 39.0                      ┆ null │
│ 2016-01-03 ┆ 39.0                      ┆ null │
│ 2016-01-03 ┆ 46.0                      ┆ null │
│ 2016-01-03 ┆ 45.0                      ┆ null │
│ 2016-01-03 ┆ 34.0                      ┆ 46.0 │
│ 2016-01-03 ┆ 38.0                      ┆ 46.0 │
│ 2016-01-03 ┆ 30.0                      ┆ 46.0 │
└────────────┴───────────────────────────┴──────┘

In [58]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_min(window_size= 2).alias("min"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_mean(window_size= 2).alias("mean"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_median(window_size= 2).alias("median"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_std(window_size= 2).alias("std"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_sum(window_size= 2).alias("sum"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_var(window_size= 2).alias("var")).head(7)

shape: (7, 9)
┌────────────┬───────────────────────────┬──────┬──────┬───┬────────┬──────────┬──────┬──────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  ┆ min  ┆ … ┆ median ┆ std      ┆ sum  ┆ var  │
│ ---        ┆ ---                       ┆ ---  ┆ ---  ┆   ┆ ---    ┆ ---      ┆ ---  ┆ ---  │
│ str        ┆ f64                       ┆ f64  ┆ f64  ┆   ┆ f64    ┆ f64      ┆ f64  ┆ f64  │
╞════════════╪═══════════════════════════╪══════╪══════╪═══╪════════╪══════════╪══════╪══════╡
│ 2016-01-03 ┆ 39.0                      ┆ null ┆ null ┆ … ┆ null   ┆ null     ┆ null ┆ null │
│ 2016-01-03 ┆ 39.0                      ┆ 39.0 ┆ 39.0 ┆ … ┆ 39.0   ┆ 0.0      ┆ 78.0 ┆ 0.0  │
│ 2016-01-03 ┆ 46.0                      ┆ 46.0 ┆ 39.0 ┆ … ┆ 42.5   ┆ 4.949747 ┆ 85.0 ┆ 24.5 │
│ 2016-01-03 ┆ 45.0                      ┆ 46.0 ┆ 45.0 ┆ … ┆ 45.5   ┆ 0.707107 ┆ 91.0 ┆ 0.5  │
│ 2016-01-03 ┆ 34.0                      ┆ 45.0 ┆ 34.0 ┆ … ┆ 39.5   ┆ 7.778175 ┆ 79.0 ┆ 60.5 │
│ 2016-01-03 ┆ 38.0                      ┆ 38.0 ┆ 34.0 ┆ … ┆ 36.0   ┆ 2.828427 ┆ 72.0 ┆ 8.0  │
│ 2016-01-03 ┆ 30.0                      ┆ 38.0 ┆ 30.0 ┆ … ┆ 34.0   ┆ 5.656854 ┆ 68.0 ┆ 32.0 │
└────────────┴───────────────────────────┴──────┴──────┴───┴────────┴──────────┴──────┴──────┘

In [59]:
df.sort("Date.Full", descending= False).select(
                                               pl.col("Date.Full"),
                                               pl.col("Data.Temperature.Avg Temp"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_max(window_size= 2).alias("max"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_min(window_size= 3).alias("min"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_mean(window_size= 4).alias("mean"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_median(window_size= 5).alias("median"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_std(window_size= 3).alias("std"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_sum(window_size= 2).alias("sum"),
                                               pl.col("Data.Temperature.Avg Temp").rolling_var(window_size= 4).alias("var")).head(10)

shape: (10, 9)
┌────────────┬───────────────────────────┬──────┬──────┬───┬────────┬──────────┬──────┬───────────┐
│ Date.Full  ┆ Data.Temperature.Avg Temp ┆ max  ┆ min  ┆ … ┆ median ┆ std      ┆ sum  ┆ var       │
│ ---        ┆ ---                       ┆ ---  ┆ ---  ┆   ┆ ---    ┆ ---      ┆ ---  ┆ ---       │
│ str        ┆ f64                       ┆ f64  ┆ f64  ┆   ┆ f64    ┆ f64      ┆ f64  ┆ f64       │
╞════════════╪═══════════════════════════╪══════╪══════╪═══╪════════╪══════════╪══════╪═══════════╡
│ 2016-01-03 ┆ 39.0                      ┆ null ┆ null ┆ … ┆ null   ┆ null     ┆ null ┆ null      │
│ 2016-01-03 ┆ 39.0                      ┆ 39.0 ┆ null ┆ … ┆ null   ┆ null     ┆ 78.0 ┆ null      │
│ 2016-01-03 ┆ 46.0                      ┆ 46.0 ┆ 39.0 ┆ … ┆ null   ┆ 4.041452 ┆ 85.0 ┆ null      │
│ 2016-01-03 ┆ 45.0                      ┆ 46.0 ┆ 39.0 ┆ … ┆ null   ┆ 3.785939 ┆ 91.0 ┆ 14.25     │
│ 2016-01-03 ┆ 34.0                      ┆ 45.0 ┆ 34.0 ┆ … ┆ 39.0   ┆ 6.658328 ┆ 79.0 ┆ 31.333333 │
│ 2016-01-03 ┆ 38.0                      ┆ 38.0 ┆ 34.0 ┆ … ┆ 39.0   ┆ 5.567764 ┆ 72.0 ┆ 32.916667 │
│ 2016-01-03 ┆ 30.0                      ┆ 38.0 ┆ 30.0 ┆ … ┆ 38.0   ┆ 4.0      ┆ 68.0 ┆ 40.916667 │
│ 2016-01-03 ┆ 22.0                      ┆ 30.0 ┆ 22.0 ┆ … ┆ 34.0   ┆ 8.0      ┆ 52.0 ┆ 46.666667 │
│ 2016-01-03 ┆ 34.0                      ┆ 34.0 ┆ 22.0 ┆ … ┆ 34.0   ┆ 6.110101 ┆ 56.0 ┆ 46.666667 │
│ 2016-01-03 ┆ 38.0                      ┆ 38.0 ┆ 22.0 ┆ … ┆ 34.0   ┆ 8.326664 ┆ 72.0 ┆ 46.666667 │
└────────────┴───────────────────────────┴──────┴──────┴───┴────────┴──────────┴──────┴───────────┘

019-Applying Window Functions

In [60]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp").sum().over("Station.State")          
).head(7)

shape: (7, 3)
┌───────────────┬──────────────────┬───────────────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp │
│ ---           ┆ ---              ┆ ---                       │
│ str           ┆ str              ┆ f64                       │
╞═══════════════╪══════════════════╪═══════════════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 14104.0                   │
│ Alabama       ┆ Huntsville, AL   ┆ 14104.0                   │
│ Alabama       ┆ Mobile, AL       ┆ 14104.0                   │
│ Alabama       ┆ Montgomery, AL   ┆ 14104.0                   │
│ Alaska        ┆ Anchorage, AK    ┆ 70750.0                   │
│ Alaska        ┆ Annette, AK      ┆ 70750.0                   │
│ Alaska        ┆ Bethel, AK       ┆ 70750.0                   │
└───────────────┴──────────────────┴───────────────────────────┘

In [61]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").sum().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ f64                       ┆ f64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39.0                      ┆ 14104.0         │
│ Alabama       ┆ Huntsville, AL   ┆ 39.0                      ┆ 14104.0         │
│ Alabama       ┆ Mobile, AL       ┆ 46.0                      ┆ 14104.0         │
│ Alabama       ┆ Montgomery, AL   ┆ 45.0                      ┆ 14104.0         │
│ Alaska        ┆ Anchorage, AK    ┆ 34.0                      ┆ 70750.0         │
│ Alaska        ┆ Annette, AK      ┆ 38.0                      ┆ 70750.0         │
│ Alaska        ┆ Bethel, AK       ┆ 30.0                      ┆ 70750.0         │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [62]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").max().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ f64                       ┆ f64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39.0                      ┆ 86.0            │
│ Alabama       ┆ Huntsville, AL   ┆ 39.0                      ┆ 86.0            │
│ Alabama       ┆ Mobile, AL       ┆ 46.0                      ┆ 86.0            │
│ Alabama       ┆ Montgomery, AL   ┆ 45.0                      ┆ 86.0            │
│ Alaska        ┆ Anchorage, AK    ┆ 34.0                      ┆ 69.0            │
│ Alaska        ┆ Annette, AK      ┆ 38.0                      ┆ 69.0            │
│ Alaska        ┆ Bethel, AK       ┆ 30.0                      ┆ 69.0            │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [63]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").min().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ f64                       ┆ f64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39.0                      ┆ 33.0            │
│ Alabama       ┆ Huntsville, AL   ┆ 39.0                      ┆ 33.0            │
│ Alabama       ┆ Mobile, AL       ┆ 46.0                      ┆ 33.0            │
│ Alabama       ┆ Montgomery, AL   ┆ 45.0                      ┆ 33.0            │
│ Alaska        ┆ Anchorage, AK    ┆ 34.0                      ┆ -27.0           │
│ Alaska        ┆ Annette, AK      ┆ 38.0                      ┆ -27.0           │
│ Alaska        ┆ Bethel, AK       ┆ 30.0                      ┆ -27.0           │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

In [64]:
df.select(
          pl.col("Station.State"),
          pl.col("Station.Location"),
          pl.col("Data.Temperature.Avg Temp"),
          pl.col("Data.Temperature.Avg Temp").mean().over("Station.State").alias("window_temp_avg")        
).head(7)

shape: (7, 4)
┌───────────────┬──────────────────┬───────────────────────────┬─────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ window_temp_avg │
│ ---           ┆ ---              ┆ ---                       ┆ ---             │
│ str           ┆ str              ┆ f64                       ┆ f64             │
╞═══════════════╪══════════════════╪═══════════════════════════╪═════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39.0                      ┆ 66.528302       │
│ Alabama       ┆ Huntsville, AL   ┆ 39.0                      ┆ 66.528302       │
│ Alabama       ┆ Mobile, AL       ┆ 46.0                      ┆ 66.528302       │
│ Alabama       ┆ Montgomery, AL   ┆ 45.0                      ┆ 66.528302       │
│ Alaska        ┆ Anchorage, AK    ┆ 34.0                      ┆ 41.15765        │
│ Alaska        ┆ Annette, AK      ┆ 38.0                      ┆ 41.15765        │
│ Alaska        ┆ Bethel, AK       ┆ 30.0                      ┆ 41.15765        │
└───────────────┴──────────────────┴───────────────────────────┴─────────────────┘

021-Challenge Solution

In [65]:
country = df.select(
                    pl.col(["Station.State", "Data.Temperature.Max Temp", "Data.Temperature.Min Temp"]),
                    (pl.col("Data.Temperature.Max Temp") + pl.col("Data.Temperature.Min Temp")).alias("Total max & min"))

q = (
     country.lazy()
     .group_by("Station.State")
     .agg(
          pl.mean("Total max & min").alias("Total max & min")
     )
     .sort("Total max & min", descending= True)
)

q.collect().head(5)

shape: (5, 2)
┌───────────────┬─────────────────┐
│ Station.State ┆ Total max & min │
│ ---           ┆ ---             │
│ str           ┆ f64             │
╞═══════════════╪═════════════════╡
│ Puerto Rico   ┆ 162.188679      │
│ Hawaii        ┆ 152.320755      │
│ Florida       ┆ 147.382075      │
│ Louisiana     ┆ 138.467433      │
│ Texas         ┆ 135.86478       │
└───────────────┴─────────────────┘

In [66]:
df_2 = df.select(
                 pl.col("Station.State"),
                 pl.col("Station.Location"),
                 pl.col("Data.Temperature.Avg Temp"),
                 pl.col("Data.Temperature.Avg Temp").sum().over("Station.State").alias("country avg temp")
)

df_2.head(5)

shape: (5, 4)
┌───────────────┬──────────────────┬───────────────────────────┬──────────────────┐
│ Station.State ┆ Station.Location ┆ Data.Temperature.Avg Temp ┆ country avg temp │
│ ---           ┆ ---              ┆ ---                       ┆ ---              │
│ str           ┆ str              ┆ f64                       ┆ f64              │
╞═══════════════╪══════════════════╪═══════════════════════════╪══════════════════╡
│ Alabama       ┆ Birmingham, AL   ┆ 39.0                      ┆ 14104.0          │
│ Alabama       ┆ Huntsville, AL   ┆ 39.0                      ┆ 14104.0          │
│ Alabama       ┆ Mobile, AL       ┆ 46.0                      ┆ 14104.0          │
│ Alabama       ┆ Montgomery, AL   ┆ 45.0                      ┆ 14104.0          │
│ Alaska        ┆ Anchorage, AK    ┆ 34.0                      ┆ 70750.0          │
└───────────────┴──────────────────┴───────────────────────────┴──────────────────┘

In [67]:
df_2.select(pl.col(["Station.State", "Data.Temperature.Avg Temp"]),
            ((pl.col("Data.Temperature.Avg Temp") / pl.col("country avg temp")) * 100).alias("avg")
).head(5)

shape: (5, 3)
┌───────────────┬───────────────────────────┬──────────┐
│ Station.State ┆ Data.Temperature.Avg Temp ┆ avg      │
│ ---           ┆ ---                       ┆ ---      │
│ str           ┆ f64                       ┆ f64      │
╞═══════════════╪═══════════════════════════╪══════════╡
│ Alabama       ┆ 39.0                      ┆ 0.276517 │
│ Alabama       ┆ 39.0                      ┆ 0.276517 │
│ Alabama       ┆ 46.0                      ┆ 0.326149 │
│ Alabama       ┆ 45.0                      ┆ 0.319058 │
│ Alaska        ┆ 34.0                      ┆ 0.048057 │
└───────────────┴───────────────────────────┴──────────┘