In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("df.csv")

In [3]:
df.head(3)

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5892 entries, 0 to 5891
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5892 non-null   object
 1   Salary Estimate    5892 non-null   object
 2   Rating             5892 non-null   float64
 3   Company Name       5892 non-null   object
 4   Location           5892 non-null   object
 5   Size               5892 non-null   object
 6   Founded            5892 non-null   object
 7   Type of ownership  5892 non-null   object
 8   Industry           5892 non-null   object
 9   Sector             5892 non-null   object
 10  Revenue            5892 non-null   object
dtypes: float64(1), object(10)
memory usage: 506.5+ KB

In [5]:
df["Rating"]

0       3.5
1       4.5
2      -1.0
3       3.4
4       3.4
       ...
5887    3.6
5888    4.9
5889    4.0
5890    4.0
5891    3.7
Name: Rating, Length: 5892, dtype: float64

In [6]:
df["Rating"][526]

4.4

In [7]:
int(df["Rating"][526])

4

In [8]:
df["Rating"].apply(int)

0       3
1       4
2      -1
3       3
4       3
       ..
5887    3
5888    4
5889    4
5890    4
5891    3
Name: Rating, Length: 5892, dtype: int64

In [9]:
txt_1 = "I Love Computer Vision"

In [10]:
txt_1.replace("Computer Vision", "Data Science")

'I Love Data Science'

In [11]:
txt_2 = df["Salary Estimate"][283]
txt_2

'$82K-$141K (Glassdoor est.)'

In [12]:
txt_2.replace("$", "")

'82K-141K (Glassdoor est.)'